// =============================================================================
// Adblock
// =============================================================================

// Background image displayed if adblocker removed link (link display: none),
// which makes any children image(s) disappear.
//
// Must contain the following attributes:
// 1. data-blocked
//
// Example HTML:
// <div class="Adblock data-blocked="false">
//   <a class="Adblock-link"><img class="Adblock-icon"></a>
// </div>

.Adblock {
  // Positioning
  position: relative;  // keeps element on top of any container overlays

  // Visual
  background-position: 0 0;
  background-repeat: no-repeat;

  // Misc
  @include vendorize(transition, opacity 250ms linear);


  // Adblock :: link present (ad blocker didn't remove it) :: hover
  // ---------------------------------------------------------------------------

  &[data-blocked="false"]:hover { opacity: .4; }


  // Adblock :: link present (ad blocker didn't remove it) :: active
  // ---------------------------------------------------------------------------

  &[data-blocked="false"]:active { opacity: .8; }
}



// Adblock - horizontal aligned
// -----------------------------------------------------------------------------

.Adblock--alignHorz { display: inline-block; }



// Adblock - x-small size
// -----------------------------------------------------------------------------

.Adblock--sizeXs {
  // Box Model
  width: $adblock-size-xs;
  height: $adblock-size-xs;
}



// Adblock - small size
// -----------------------------------------------------------------------------

.Adblock--sizeSm {
  // Box Model
  width: $adblock-size-sm;
  height: $adblock-size-sm;
}





// -----------------------------------------------------------------------------
// Adblock: img
// -----------------------------------------------------------------------------

.Adblock-img { display: block; }



// Adblock: img - x-small size
// -----------------------------------------------------------------------------

.Adblock-img--sizeXs {
  // Box Model
  width: $adblock-size-xs;
  height: $adblock-size-xs;
}



// Adblock: img - small size
// -----------------------------------------------------------------------------

.Adblock-img--sizeSm {
  // Box Model
  width: $adblock-size-sm;
  height: $adblock-size-sm;
}





// -----------------------------------------------------------------------------
// Adblock: link
// -----------------------------------------------------------------------------

.Adblock-link { display: block; }
