// =============================================================================
// How Sxn Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Process circle: width
$howprocess-circle-width: 150px;
$howprocess-circle-width-print: 39.69mm;


// Process circle: title width
$howprocess-circletitle-width: 100px;
$howprocess-circletitle-width-print: 26.46mm;


// Process icon: width
$howprocess-icon-width: 60px;
$howprocess-icon-width-print: 15.88mm;


// Process icon: z-index
$howprocess-icon-zindex: $sxn-zindex + 1;


// Process icon arrow: width
$howprocess-iconarrow-width: 12px;
$howprocess-iconarrow-width-print: 3.18mm;


// Process section: height
$howprocess-sxn-height-sm: 220px;
$howprocess-sxn-height-md: 230px;
$howprocess-sxn-height-lg: 250px;
$howprocess-sxn-height-print: 52.9mm;


// Process section: width
$howprocess-sxn-width-sm: 240px;
$howprocess-sxn-width-md: 250px;
$howprocess-sxn-width-lg: 280px;
$howprocess-sxn-width-print: 66.2mm;


// Process section: padding
$howprocess-sxn-pad: $text-md;
$howprocess-sxn-pad-print: $page-pad-base-print;





// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Process circle: height
// Dependence: process circle width
$howprocess-circle-height: $howprocess-circle-width;
$howprocess-circle-height-print: $howprocess-circle-width-print;


// Process icon: height
// Dependence: process icon width
$howprocess-icon-height: $howprocess-icon-width;
$howprocess-icon-height-print: $howprocess-icon-width-print;


// Process icon arrow: height
// Dependence: process icon-arrow width
$howprocess-iconarrow-height: $howprocess-iconarrow-width * 2;
$howprocess-iconarrow-height-print: $howprocess-iconarrow-width-print * 2;


// Tool icon: width
// Dependence: process icon width
$howtool-icon-width: $howprocess-icon-width;
$howtool-icon-width-print: $howprocess-icon-width-print;


// Tool icon: height
// Dependence: tool icon width
$howtool-icon-height: $howtool-icon-width;
$howtool-icon-height-print: $howtool-icon-width-print;


// Tool text
// Dependence: tool tool text
$howtool-text: $text-sm * .9;
$howtool-text-tag: $howtool-text * .85;
