// =============================================================================
// How Section
// =============================================================================

.SxnHow {
  // Theme
  @include sxn-bgtheme-dark();


  // How Section: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// How Section: how process
// -----------------------------------------------------------------------------

.SxnHow-process {
  // Positioning
  position: relative;

  // Box Model
  float: left;
  width: 100%;
  height: auto;
  margin-bottom: $sxn-pad-vert;

  // Media queues
  @include responsive($screen, 'min-md') {
    height: ($howprocess-sxn-height-sm * 2) + $howprocess-circle-height;
  }


  @include responsive($screen, 'min-lg') {
    height: ($howprocess-sxn-height-md * 2) + $howprocess-circle-height;
  }


  @media #{$screen} and (min-width: 1130px) {
    // Box Model
    width: 70%;
    margin-bottom: 0;
  }


  @media #{$screen} and (min-width: 1260px) { width: 62%; }


  @include responsive($screen, 'min-xl') {
    // Box Model
    width: 65%;
    height: ($howprocess-sxn-height-lg * 2) + $howprocess-circle-height;
  }


  @media #{$screen} and (min-width: 1400px) { width: 70%; }



  // How Section: how process circle
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    left: calc(50% - (#{$howprocess-circle-width} / 2));

    // Box Model
    width: $howprocess-circle-width;
    height: $howprocess-circle-height;

    // Visual
    border: $page-border-width solid $page-border-color;
    border-radius: 50%;

    // Misc
    content: '';
    box-sizing: border-box;

    // Media Queries
    @include responsive($screen, 'min-md') {
      top: $howprocess-sxn-height-sm - ($howprocess-icon-height / 2);
    }


    @include responsive($screen, 'min-lg') {
      top: $howprocess-sxn-height-md - ($howprocess-icon-height / 2);
    }


    @include responsive($screen, 'min-xl') {
      top: $howprocess-sxn-height-lg - ($howprocess-icon-height / 2);
    }
  }



  // How Section: how process circle title
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    top: ($howprocess-circle-height / 2) - ($text-sm * $line-height-sm);
    left: calc(50% - (#{$howprocess-circletitle-width} / 2));

    // Box Model
    width: $howprocess-circle-width / 1.5;

    // Typography
    font-family: $sans-serif-alt;
    font-weight: $regular;
    line-height: $line-height-sm;
    color: $page-text-color-dark;
    letter-spacing: normal;
    text-align: center;

    // Misc
    content: 'Iterative Process';
    box-sizing: border-box;

    // Media Queries
    @include responsive($screen, 'min-md') {
      top: ($howprocess-circle-height / 2) - ($text-md * $line-height-sm)
        + $howprocess-sxn-height-sm - ($howprocess-icon-height / 2);
    }


    @include responsive($screen, 'min-lg') {
      top: ($howprocess-circle-height / 2) - ($text-md * $line-height-sm)
        + $howprocess-sxn-height-md - ($howprocess-icon-height / 2);
    }


    @include responsive($screen, 'min-xl') {
      top: ($howprocess-circle-height / 2) - ($text-lg * $line-height-sm)
      + $howprocess-sxn-height-lg - ($howprocess-icon-height / 2);
    }
  }
}





// -----------------------------------------------------------------------------
// How Section: how process icon
// -----------------------------------------------------------------------------

.SxnHow-processIcon {
  // Positioning
  position: absolute;
  z-index: $howprocess-icon-zindex;

  // Box Model
  width: $howprocess-icon-width;
  height: $howprocess-icon-height;

  // Visual
  background-color: $page-color-main;

  border: $page-border-width solid $page-border-color;
  border-radius: 50%;

  // Media Queries
  @include responsive($screen, 'min-md') {
    top: $howprocess-sxn-height-sm - ($howprocess-icon-height / 2);
  }


  @include responsive($screen, 'min-lg') {
    top: $howprocess-sxn-height-md - ($howprocess-icon-height / 2);
  }


  @include responsive($screen, 'min-xl') {
    top: $howprocess-sxn-height-lg - ($howprocess-icon-height / 2);
  }



  // How Section: how process icon - arrow
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;

    // Visual
    border-color: transparent transparent transparent $page-border-color;
    border-style: solid;
    border-width: ($howprocess-iconarrow-height / 2) 0
      $howprocess-iconarrow-width ($howprocess-iconarrow-height / 2);

    // Misc
    content: '';
  }
}



// How Section: how process icon - first icon
// -----------------------------------------------------------------------------

.SxnHow-processIcon--1st {
  // Positioning
  left: calc(50% - (#{$howprocess-circle-width} / 2)
    - (#{$howprocess-icon-width}) / 2);


  // How Section: how process icon - tag
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    top: -($text-sm / 1.5);
    left: -($text-sm / 1.2);

    // Box Model
    padding-right: 5px;

    // Typography
    font-family: $sans-serif-alt;

    // Visual
    background-color: $page-color-main;

    // Misc
    content: 'Start';

    // Media Queries
    @include responsive($screen, 'min-md') {
      // Positioning
      top: -($text-md / 1.5);
      left: -($text-md / 1.2);
    }


    @include responsive($screen, 'min-xl') {
      // Positioning
      top: -($text-lg / 1.5);
      left: -($text-lg / 1.2);
    }
  }



  // How Section: how process icon - arrow
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    bottom: -($howprocess-iconarrow-height / 1.25);
    left: $howprocess-icon-width / 2.5;

    // Misc
    @include vendorize(transform, rotate(-80deg));
  }
}



// How Section: how process icon - second icon
// -----------------------------------------------------------------------------

.SxnHow-processIcon--2nd {
  // Positioning
  left: calc(50% + (#{$howprocess-circle-width} / 2)
    - (#{$howprocess-icon-width}) / 2);


  // How Section: how process icon - arrow
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    top: 1px;
    left: -($howprocess-iconarrow-width / 1.3);

    // Misc
    @include vendorize(transform, rotate(30deg));
  }
}



// How Section: how process icon - third icon
// -----------------------------------------------------------------------------

.SxnHow-processIcon--3rd {
  // Positioning
  top: $howprocess-circle-height - ($howprocess-icon-height / 2.5);
  left: calc(50% - (#{$howprocess-icon-width}) / 2);

  // Media Queries
  @include responsive($screen, 'min-md') {
    top: $howprocess-circle-height + $howprocess-sxn-height-sm
      - ($howprocess-icon-height / 1.1);
  }


  @include responsive($screen, 'min-lg') {
    top: $howprocess-circle-height + $howprocess-sxn-height-md
      - ($howprocess-icon-height / 1.1);
  }


  @include responsive($screen, 'min-xl') {
    top: $howprocess-circle-height + $howprocess-sxn-height-lg
      - ($howprocess-icon-height / 1.1);
  }


  // How Section: how process icon - arrow
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    top: 3px;
    right: -($howprocess-iconarrow-width / 1.2);

    // Misc
    @include vendorize(transform, rotate(-210deg));
  }
}





// -----------------------------------------------------------------------------
// How Section: how process image
// -----------------------------------------------------------------------------

.SxnHow-processImg {
  // Box Model
  width: 50%;
  margin-top: 50%;
  margin-left: 50%;

  // Misc
  @include vendorize(transform, translate3d(-50%,-50%,0));
}





// -----------------------------------------------------------------------------
// How Section: how process section
// -----------------------------------------------------------------------------

.SxnHow-processSxn {
  // Positioning
  position: relative;

  // Box Model
  width: 100%;
  padding: $howprocess-sxn-pad;
  margin-bottom: $page-margin-vert-sm;

  // Typography
  text-align: left;

  // Visual
  background-position: right $page-margin-vert-sm top $page-margin-vert-sm;
  background-repeat: no-repeat;
  background-size: ($howprocess-icon-width / 2) ($howprocess-icon-height / 2);
  border: $page-border-width solid $page-border-color;
  border-radius: $page-border-rad;

  // Media Queries
  @include responsive($screen, 'min-sm') {
    background-size: ($howprocess-icon-width / 1.5)
      ($howprocess-icon-height / 1.5);
  }


  @include responsive($screen, 'min-md') {
    // Box Model
    width: $howprocess-sxn-width-sm;
    padding: ($howprocess-sxn-pad * 1.25) 0 ($howprocess-sxn-pad * 2);

    // Typography
    text-align: center;
  }


  @include responsive($screen, 'min-lg') { width: $howprocess-sxn-width-md; }


  @include responsive($screen, 'min-xl') { width: $howprocess-sxn-width-lg; }
}



// How Section: how process section - first section
// -----------------------------------------------------------------------------

.SxnHow-processSxn--1st {
  // Box Model
  margin-top: $howprocess-circle-height + $howprocess-icon-height;

  // Visual
  background-image: url('../images/icons/diagram_bigpic.svg');

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Positioning
    position: absolute;
    top: 0;
    left: calc(50% - (#{$howprocess-circle-width} / 2)
      - #{$howprocess-sxn-width-sm});

    // Box Model
    margin-top: 0;

    // Visual
    background-image: none;
  }


  @include responsive($screen, 'min-lg') {
    // Positioning
    left: calc(50% - (#{$howprocess-circle-width} / 2)
      - #{$howprocess-sxn-width-md});
  }


  @include responsive($screen, 'min-xl') {
    // Positioning
    left: calc(50% - (#{$howprocess-circle-width} / 2)
      - #{$howprocess-sxn-width-lg});
  }
}



// How Section: how process section - second section
// -----------------------------------------------------------------------------

.SxnHow-processSxn--2nd {
  // Visual
  background-image: url('../images/icons/diagram_details.svg');

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Positioning
    position: absolute;
    top: 0;
    left: calc(50% + (#{$howprocess-circle-width} / 2));

    // Box Model
    margin-top: 0;

    // Visual
    background-image: none;
  }
}



// How Section: how process section - third section
// -----------------------------------------------------------------------------

.SxnHow-processSxn--3rd {
  // Visual
  background-image: url('../images/icons/diagram_evaluation.svg');

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Positioning
    position: absolute;
    top: $howprocess-sxn-height-sm + $howprocess-circle-height
      - ($howprocess-icon-height / 6);
    left: calc(50% - (#{$howprocess-sxn-width-sm} / 2));

    // Box Model
    margin-top: 0;

    // Visual
    background-image: none;
  }


  @include responsive($screen, 'min-lg') {
    // Positioning
    top: $howprocess-sxn-height-md + $howprocess-circle-height
      - ($howprocess-icon-height / 6);
    left: calc(50% - (#{$howprocess-sxn-width-md} / 2));
  }


  @include responsive($screen, 'min-xl') {
    // Positioning
    top: $howprocess-sxn-height-lg + $howprocess-circle-height
      - ($howprocess-icon-height / 6);
    left: calc(50% - (#{$howprocess-sxn-width-lg} / 2));
  }
}





// -----------------------------------------------------------------------------
// How Section: how process title
// -----------------------------------------------------------------------------

.SxnHow-processTitle {
  // Box Model
  margin-bottom: $text-sm / 4;

  // Typography
  font-size: $headline-sm;
  color: $page-text-color-accent;
  text-align: left;

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Box Model
    margin-bottom: $text-md / 4;

    // Typography
    font-size: $headline-md;
    text-align: center;
  }


  @include responsive($screen, 'min-xl') {
    // Box Model
    margin-bottom: $text-lg / 4;

    // Typography
    font-size: $headline-lg;
  }
}





// -----------------------------------------------------------------------------
// How Section: how tools used
// -----------------------------------------------------------------------------

.SxnHow-processTools {
  // Box Model
  float: left;
  width: 100%;
  margin-left: 0;

  // Media Queries
  @media #{$screen} and (min-width: 1130px) {
    // Box Model
    width: 28%;
    margin-left: 2%;
  }


  @media #{$screen} and (min-width: 1260px) {
    // Box Model
    width: 33%;
    margin-left: 5%;
  }


  @include responsive($screen, 'min-xl') { width: 30%; }


  @media #{$screen} and (min-width: 1400px) { margin-left: 0; }
}





// -----------------------------------------------------------------------------
// How Section: how tool
// -----------------------------------------------------------------------------

.SxnHow-processTool {
  // Box Model
  float: left;
  width: 100%;
  margin-bottom: $page-margin-vert-sm;

  // Typography
  color: $page-border-color;

  // Media Queries
  @include responsive($screen, 'min-md') { width: 45%; }


  @media #{$screen} and (min-width: 1130px) { width: 100%; }
}



// How Section: how tool - even numbered
// -----------------------------------------------------------------------------

.SxnHow-processTool--even {
  // Media Queries
  @include responsive($screen, 'min-md') { margin-left: 5%; }


  @media #{$screen} and (min-width: 1130px) { margin-left: 0; }
}



// How Section: how tool - odd numbered
// -----------------------------------------------------------------------------

.SxnHow-processTool--odd {
  // Media Queries
  @include responsive($screen, 'min-md') { margin-right: 5%; }


  @media #{$screen} and (min-width: 1130px) { margin-right: 0; }
}





// -----------------------------------------------------------------------------
// How Section: how tool description
// -----------------------------------------------------------------------------

.SxnHow-processToolDescr { overflow: hidden; }





// -----------------------------------------------------------------------------
// How Section: how tool icon
// -----------------------------------------------------------------------------

.SxnHow-processToolIcon {
  // Box Model
  float: left;
  width: $howtool-icon-width * .4;
  height: $howtool-icon-height * .4;
  margin-top: 5px;
  margin-right: $text-sm;
}





// -----------------------------------------------------------------------------
// How Section: how tool text
// -----------------------------------------------------------------------------

.SxnHow-processToolText {
  // Typography
  font-size: $howtool-text;
  line-height: 1.5;
  color: $page-text-color-dark;
}





// -----------------------------------------------------------------------------
// How Section: how tool description tag
// -----------------------------------------------------------------------------

.SxnHow-processToolTextTag {
  // Box Model
  display: block;

  // Typography
  font-size: $howtool-text-tag;
  font-style: italic;
  font-weight: $regular;
  letter-spacing: .03em;
  text-align: right;
}





// -----------------------------------------------------------------------------
// How Section: how tool title
// -----------------------------------------------------------------------------

.SxnHow-processToolTitle {
  // Typography
  color: $page-bgcolor-light;
  letter-spacing: .04em;
}