// =============================================================================
// Project
// =============================================================================

.Proj {
  // Positioning
  position: relative;

  // Box Model
  padding-top: $sxn-pad-vert * 1.5;
  padding-bottom: $sxn-pad-vert * 1.5;


  // Project - dividing line between projects
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    bottom: 0;
    left: 50%;

    // Box Model
    width: 80%;
    height: $page-border-width;

    // Visual
    background-color: $page-border-color;

    // Misc
    content: '';
    @include vendorize(transform, translateX(-50%));
    box-sizing: border-box;
  }
}



// Project - first
// -----------------------------------------------------------------------------

.Proj--first { padding-top: 0; }



// Project - last
// -----------------------------------------------------------------------------

.Proj--last {
  // Box Model
  padding-bottom: 0;


  // Project - dividing line after last project
  // ---------------------------------------------------------------------------

  &::after { display: none; }
}





// -----------------------------------------------------------------------------
// Proj: content
// -----------------------------------------------------------------------------

.Proj-content {
  // Positioning
  position: relative;

  // Box Model
  width: 100%;
  margin-top: $text-sm * $line-height-base;

  // Typography
  color: $page-text-color;

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Box Model
    width: 95%;
    margin-top: $text-md * $line-height-base;
  }


  @include responsive($screen, 'min-xl') {
    margin-top: $text-lg * $line-height-base;
  }
}





// -----------------------------------------------------------------------------
// Proj: description
// -----------------------------------------------------------------------------

.Proj-descr {
  // Box Model
  margin-bottom: $text-sm * $line-height-base;

  // Media Queries
  @include responsive($screen, 'min-md') {
    margin-bottom: $text-md * $line-height-base;
  }


  @include responsive($screen, 'min-xl') {
    margin-bottom: $text-lg * $line-height-base;
  }
}





// -----------------------------------------------------------------------------
// Proj: description text
// -----------------------------------------------------------------------------

.Proj-descrText {
  // Box-Model
  margin-bottom: $text-sm * $line-height-sm;

  // Media Queries
  @include responsive($screen, 'min-md') {
    margin-bottom: $text-md * $line-height-sm;
  }

  @include responsive($screen, 'min-xl') {
    margin-bottom: $text-lg * $line-height-sm;
  }
}





// -----------------------------------------------------------------------------
// Proj: images
// -----------------------------------------------------------------------------

.Proj-images {
  // Positioning
  position: relative;

  // Box Model
  display: block;
  width: 100%;

  // Media Queries
  @include responsive($screen, 'min-md') { width: 95%; }
}





// -----------------------------------------------------------------------------
// Proj: image
// -----------------------------------------------------------------------------

.Proj-img {
  // Positioning
  position: absolute;
  bottom: 0;

  // Box Model
  display: block;

  // Visual
  box-shadow: -2px 0px 6px 0px $page-boxshadow-img;
}



// Proj: image - desktop view
// -----------------------------------------------------------------------------

.Proj-img--desktop {
  // Positioning
  position: relative;
  left: 0;

  // Box Model
  width: 70%;

  // Visual
  box-shadow: none;
}



// Proj: image - mobile view
// -----------------------------------------------------------------------------

.Proj-img--mobile {
  // Positioning
  left: 85%;

  // Box Model
  height: 60%;
}



// Proj: image - tablet view
// -----------------------------------------------------------------------------

.Proj-img--tablet {
  // Positioning
  left: 65%;

  // Box Model
  height: 80%;
}





// -----------------------------------------------------------------------------
// Proj: links
// -----------------------------------------------------------------------------

.Proj-links {
  // Positioning
  position: relative;

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Positioning
    position: absolute;
    top: $headline-md * $line-height-base;
    right: 0;

    // Box Model
    width: 15%;
  }


  @include responsive($screen, 'min-xl') {
    top: $headline-lg * $line-height-base;
  }
}





// -----------------------------------------------------------------------------
// Proj: link
// -----------------------------------------------------------------------------

.Proj-link {
  // Box Model
  display: inline-block;
  margin-right: ($btn-text-sm * $line-height-base) / 2;
  margin-bottom: $btn-text-sm * $line-height-base;

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Box Model
    display: block;
    margin-right: 0;
    margin-bottom: $btn-text-md * $line-height-base;

    // Typography
    text-align: center;  // centers links within parent container
  }


  @include responsive($screen, 'min-xl') {
    margin-bottom: $btn-text-lg * $line-height-base;
  }
}





// -----------------------------------------------------------------------------
// Proj: text
// -----------------------------------------------------------------------------

.Proj-text {
  // Box Model
  width: 100%;

  // Media Queries
  @include responsive($screen, 'min-md') { width: 85%; }
}
