// =============================================================================
// Intro Section Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Down pointing chevron
$intro-chevrondown-side: 2px;

// Down pointing chevron padding multiplier
$intro-chevrondownpad-multipler: 3;

// Tooltip "i": text
$intro-tooltip-i-text: ($text-sm);

// title section: padding
$intro-sxntitle-pad-sm: $text-sm;
$intro-sxntitle-pad-md: $text-md;
$intro-sxntitle-pad-lg: $text-lg;





// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Tooltip "i": width
$intro-tooltip-i-width: ($intro-tooltip-i-text * $line-height-sm);

// Tooltip: position
$intro-tooltip-pos-right: ($intro-tooltip-i-text * $line-height-base);
