// =============================================================================
// Section: Intro
// =============================================================================

.SxnIntro {
  // Positioning
  position: relative;

  // Box Model
  height: 101vh;
  padding: $sxn-pad-vert $page-pad-horz-md;

  // Theme
  @include sxn-bgtheme-light();
}





// -----------------------------------------------------------------------------
// Intro Section - arrow
// -----------------------------------------------------------------------------

.SxnIntro--arrow {

  // Intro Section :: word above chevron pointing down
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    bottom: 40px;
    left: 50%;

    // Typography
    font-family: $sans-serif-alt;
    font-size: ($text-sm * .72);
    color: $page-title-color-dark;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .08em;

    // Visual
    content: 'Scroll';

    // Misc
    @include vendorize(transform, translateX(-50%));
    box-sizing: border-box;
  }


  // Intro Section :: chevron pointing down
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    bottom: 25px;
    left: calc(50% - (1.25 * #{$intro-chevrondownpad-multipler}
      * #{$intro-chevrondown-side}));

    // Box Model
    padding: $intro-chevrondown-side * $intro-chevrondownpad-multipler;

    // visual
    border-color: transparent $page-title-color-dark $page-title-color-dark
      transparent;
    border-style: solid;
    border-width: 0 $intro-chevrondown-side $intro-chevrondown-side 0;
    content: '';

    // Misc
    @include vendorize(transform, rotate(45deg));
    box-sizing: border-box;
  }
}





// -----------------------------------------------------------------------------
// Intro Section: Content - vertically centered
// -----------------------------------------------------------------------------

.SxnIntro-content {
  // Positioning
  position: absolute;
  top: 44%;
  left: 50%;

  // Box Model
  width: 100%;
  padding: 0 $page-pad-horz-md;

  // Misc
  @include vendorize(transform, translate3d(-50%,-44%,0));
}





// -----------------------------------------------------------------------------
// Intro Section: headline
// -----------------------------------------------------------------------------

.SxnIntro-headline {
  // Typography
  color: $page-text-color-accent-dark;
  text-align: center;
}





// -----------------------------------------------------------------------------
// Intro Section: logo
// -----------------------------------------------------------------------------

.SxnIntro-logo {
  // Box Model
  width: 95px;
  margin-right: auto;
  margin-left: auto;

  // Media Queries
  @include responsive($screen, 'min-md') { width: 115px; }


  @include responsive($screen, 'min-xl') { width: 125px; }
}





// -----------------------------------------------------------------------------
// Intro Section: tooltip
// -----------------------------------------------------------------------------

.SxnIntro-title { display: inline-block; }





// -----------------------------------------------------------------------------
// Intro Section: title section
// -----------------------------------------------------------------------------

.SxnIntro-sxnTitle {
  // Positioning
  position: relative;

  // Box Model
  padding-top: $intro-sxntitle-pad-sm;

  // Typography
  text-align: center;

  // Media Queries
  @include responsive($screen, 'min-md') { padding-top: $intro-sxntitle-pad-md; }


  @include responsive($screen, 'min-xl') { padding-top: $intro-sxntitle-pad-lg; }
}





// -----------------------------------------------------------------------------
// Intro Section: text
// -----------------------------------------------------------------------------

.SxnIntro-text {
  // Typography
  text-align: center;
  color: $page-text-color-dark;
}



// Intro Section: text - smaller
// -----------------------------------------------------------------------------

.SxnIntro-text--emphasis {
  font-size: $text-sm * .78;

  // Media Queries
  @include responsive($screen, 'min-md') { font-size: $text-md * .78; }


  @include responsive($screen, 'min-xl') { font-size: $text-lg * .78; }
}





// -----------------------------------------------------------------------------
// Intro Section: tooltip
// -----------------------------------------------------------------------------

.SxnIntro-tooltip {
  // Positioning
  position: absolute;


  // Intro Section: tooltip "i"
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    top: ($headline-md * ($line-height-sm - 1));
    right: -($intro-tooltip-pos-right);

    // Box Model
    width: $intro-tooltip-i-width;
    height: $intro-tooltip-i-width;

    // Typography
    font-family: $serif;
    font-size: $intro-tooltip-i-text;
    font-weight: $semibold;
    line-height: ($intro-tooltip-i-width + 2px);
    color: $page-text-color;
    text-transform: none;
    vertical-align: middle;

    // Visual
    background-color: rgba(27,173,134, .4);  // opaque $page-color-main
    border-radius: ($intro-tooltip-i-width / 2);

    // Misc
    content: 'i';
    box-sizing: border-box;
  }
}





// -----------------------------------------------------------------------------
// Intro Section: tooltip text
// -----------------------------------------------------------------------------

.SxnIntro-tooltipText {
  // Box Model
  width: 270px;  // accommodates extra space with hypen points on some browsers

  // Typography
  text-align: center;
  text-transform: none;
}



// Intro Section: tooltip text - positioned top right
// -----------------------------------------------------------------------------

.SxnIntro-tooltipText--topRight {
  // Positioning
  top: -($tooltip-text * $line-height-base * 1.25);
  right: -($intro-tooltip-pos-right + ($tooltip-arrow-width / 1.1));
}
