// =============================================================================
// Resume Overview Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Arrow (shaft): width;
$resume-arrowshaft-width: 2px;
$resume-arrowshaft-width-print: $page-border-width-print;


// Button: width
// $resume-btn-width-lg: 170px;
// $resume-btn-width-xl: 190px;
$resume-btn-width-lg: 280px;
$resume-btn-width-xl: 380px;


// Section title: width
$resume-sxntitle-width: 26%;


// Title: width
$resume-title-width-lg: 300px;
$resume-title-width-xl: 400px;





// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Arrow: position
// Dependence: resume section title-width
$resume-arrow-position: $resume-sxntitle-width + 1%;


// Arrow (shaft): length offset
// Dependence: resume arrow height
$resume-arrow-length-offset: $page-arrow-height * .9;
$resume-arrow-length-offset-print: $page-arrow-height-print * .9;


// Section content: width
// Dependence: resume section title-width
$resume-sxncontent-width: $resume-sxntitle-width + 2%;
