// =============================================================================
// Resume Overview
// =============================================================================

.ResumeOverview {

  // Resume Overview: arrow shaft
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    top: $headline-sm * $line-height-base;
    left: ($page-arrow-pos-left / 2) - ($resume-arrowshaft-width / 2);

    // Box Model
    width: $resume-arrowshaft-width;
    height: calc(100% - (#{$headline-sm} * #{$line-height-base})
      - #{$btn-height-sm} - #{$resume-arrow-length-offset});

    // Visual
    background-color: $page-headline-color;

    // Misc
    content: '';
    box-sizing: border-box;
    @include vendorize(transition, all 280ms ease);

    // Media Queries
    @include responsive($screen, 'min-md') {
      // Positioning
      top: $headline-md * $line-height-base;

      // Box Model
      height: calc(100% - (#{$headline-md} * #{$line-height-base})
        - #{$btn-height-md} - #{$resume-arrow-length-offset});
    }


    @include responsive($screen, 'min-lg') {
      left: calc(#{$resume-arrow-position} - (#{$resume-arrowshaft-width} / 2));
    }


    @include responsive($screen, 'min-xl') {
      // Positioning
      top: $headline-lg * $line-height-base;

      // Box Model
      height: calc(100% - (#{$headline-lg} * #{$line-height-base})
        - #{$btn-height-lg} - #{$resume-arrow-length-offset});
    }
  }


  // Resume Overview: arrow
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    bottom: $btn-height-sm;
    left: 0;

    // Box Model
    width: 0;
    height: 0;

    // Visual
    border-color: $page-headline-color transparent transparent;
    border-style: solid;
    border-width: $page-arrow-height ($page-arrow-pos-left / 2) 0;

    // Misc
    content: '';
    box-sizing: border-box;
    @include vendorize(transition, all 280ms ease);

    // Media Queries
    @include responsive($screen, 'min-md') { bottom: $btn-height-md; }


    @include responsive($screen, 'min-lg') {
      left: calc(#{$resume-arrow-position} - (#{$page-arrow-pos-left} / 2));
    }


    @include responsive($screen, 'min-xl') { bottom: $btn-height-lg; }
  }
}





// -----------------------------------------------------------------------------
// Resume Overview: button
// -----------------------------------------------------------------------------

.ResumeOverview-btn {
  // Box Model
  width: auto;
  margin-left: 0;
  text-align: left;

  // Media Queries
  @include responsive($screen, 'min-lg') {
    // Box Model
    width: $resume-btn-width-lg;
    margin-left: calc(#{$resume-sxncontent-width}
      - (#{$resume-btn-width-lg} / 2) - 1px);

    // Typography
    text-align: center;
  }


  @include responsive($screen, 'min-xl') {
    // Box Model
    width: $resume-btn-width-xl;
    margin-left: calc(#{$resume-sxncontent-width}
      - (#{$resume-btn-width-xl} / 2) - 1px);
  }
}





// -----------------------------------------------------------------------------
// Resume Overview: content
// -----------------------------------------------------------------------------

.ResumeOverview-content {
  // Box Model
  margin-left: $page-arrow-pos-left;

  // Media Queries
  @include responsive($screen, 'min-lg') { margin-left: 0; }
}





// -----------------------------------------------------------------------------
// Resume Overview: section content
// -----------------------------------------------------------------------------

.ResumeOverview-sxnContent {
  // Box Model
  margin-bottom: $text-sm * $line-height-sm;
  margin-left: 0;

  // Media Queries
  @include responsive($screen, 'min-md') {
    margin-bottom: $text-md * $line-height-sm;
  }


  @include responsive($screen, 'min-lg') {
    margin-left: $resume-sxncontent-width;
  }


  @include responsive($screen, 'min-xl') {
    margin-bottom: $text-lg * $line-height-sm;
  }
}





// -----------------------------------------------------------------------------
// Resume Overview: section title
// -----------------------------------------------------------------------------

.ResumeOverview-sxnTitle {
  // Positioning
  float: none;

  // Box Model
  width: auto;

  // Typography
  font-weight: $regular;

  // Media Queries
  @include responsive($screen, 'min-lg') {
    // Positioning
    float: left;

    // Box Model
    width: $resume-sxntitle-width;

    // Typography
    text-align: right;
  }
}





// -----------------------------------------------------------------------------
// Resume Overview: title
// -----------------------------------------------------------------------------

.ResumeOverview-title {
  // Box Model
  display: inline-block;
  width: auto;
  margin-left: 0;

  // Media Queries
  @include responsive($screen, 'min-lg') {
    // Box Model
    width: $resume-title-width-lg;
    margin-left: calc(#{$resume-sxncontent-width}
      - (#{$resume-title-width-lg} / 2.15) - 1px);
  }


  @include responsive($screen, 'min-xl') {
    // Box Model
    width: $resume-title-width-xl;
    margin-left: calc(#{$resume-sxncontent-width}
      - (#{$resume-title-width-xl} / 2.15) - 1px);
  }
}





// -----------------------------------------------------------------------------
// Resume Overview: title text
// -----------------------------------------------------------------------------

.ResumeOverview-titleText { text-align: center; }
