// *****************************************************************************
//
// Library Modules
//
// *****************************************************************************

// =============================================================================
// Adblock
// =============================================================================

// -----------------------------------------------------------------------------
// Adblock: image
// -----------------------------------------------------------------------------

.Adblock-img { display: none; }





// -----------------------------------------------------------------------------
// Adblock: Link
// -----------------------------------------------------------------------------

.Adblock-link {
  // Typography
  font-size: $text-print * .85;


  // Adblock: email link print the url
  // ---------------------------------------------------------------------------

  &[href ^= "http"]:after,
  &[href ^= "mail"]:after {
    content: ' <' attr(href) '> ';
  }


  // Adblock: resume link print the url (must be after [href ^="http"])
  // ---------------------------------------------------------------------------

  &[href *= "resume"]:after {
    content: 'Resume <' attr(href) '> ';
  }
}





// =============================================================================
// Button
// =============================================================================

.Btn {

  // Btn: link disabled
  // ---------------------------------------------------------------------------

  &[aria-disabled="true"] { display: none; }


  // Btn: active link print the url
  // ---------------------------------------------------------------------------

  &[aria-disabled="false"][href ^= "http"]:after {
    content: ' <' attr(href) '> ';
  }
}





// =============================================================================
// Legend
// =============================================================================

.Legend {
  // Positioning
  position: relative;

  // Box Model
  height: $legend-item-height-print * 2;

  // Misc
  page-break-inside: avoid;


  // Legend: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Legend: item
// -----------------------------------------------------------------------------

.Legend-item {
  // Positioning
  position: absolute;

  // Box Model
  width: $legend-item-width;
  padding: 0 $legend-item-pad-print;

  // Typography
  font-size: $legend-item-text-print;
  line-height: $legend-item-lineheight;
}



// Legend: item - even numbered item
// -----------------------------------------------------------------------------

.Legend-item--even {
  left: calc(#{$legend-item-width} + #{$legend-item-margin});
}





// -----------------------------------------------------------------------------
// Legend: key
// -----------------------------------------------------------------------------

.Legend-key {
  // Positioning
  top: 0;

  // Box Model
  padding-top: $legend-item-pad-print;
  margin-top: $legend-item-margin-top-print;

  // Typography
  font-weight: $semibold;

  // Visual
  border-top: $legend-item-border-width-print solid rgb(153,153,153);
}



// Legend: key - last
// -----------------------------------------------------------------------------

.Legend-key--last { top: $legend-item-height-print; }





// -----------------------------------------------------------------------------
// Legend: value
// -----------------------------------------------------------------------------

.Legend-value { top: $legend-key-height-print; }



// Legend: value - last
// -----------------------------------------------------------------------------

.Legend-value--last {
  top: $legend-item-height-print + $legend-key-height-print;
}





// =============================================================================
// Project
// =============================================================================

.Proj {
  // Positioning
  position: relative;

  // Box Model
  padding-top: $sxn-pad-vert / 4;
  padding-bottom: $sxn-pad-vert;

  // Misc
  page-break-inside: avoid;
}



// Project - first project
// -----------------------------------------------------------------------------

.Proj--first { padding-top: 0; }



// Project - last project
// -----------------------------------------------------------------------------

.Proj--last {
  // Box Model
  padding-bottom: 0;


  // Project - dividing line after last project
  // ---------------------------------------------------------------------------

  &::after { display: none; }
}





// -----------------------------------------------------------------------------
// Proj: content
// -----------------------------------------------------------------------------

.Proj-content {
  // Positioning
  position: relative;

  // Box Model
  margin-top: $page-pad-base-print * $line-height-print;
}





// -----------------------------------------------------------------------------
// Proj: description
// -----------------------------------------------------------------------------

.Proj-descr { margin-bottom: $page-pad-base-print * $line-height-print; }





// -----------------------------------------------------------------------------
// Proj: description text
// -----------------------------------------------------------------------------

.Proj-descrText { margin-bottom: $page-pad-base-print * $line-height-print; }





// -----------------------------------------------------------------------------
// Proj: images
// -----------------------------------------------------------------------------

.Proj-images {
  // Positioning
  position: relative;

  // Box Model
  display: block;
}





// -----------------------------------------------------------------------------
// Proj: image
// -----------------------------------------------------------------------------

.Proj-img {
  // Positioning
  position: absolute;
  bottom: 0;

  // Box Model
  display: block;

  // Visual
  border: $page-border-width-print solid #aaa;
  box-shadow: -0.53mm 0mm 1.59mm 0mm  rgba(0,0,0,.2);
}



// Proj: image - desktop view
// -----------------------------------------------------------------------------

.Proj-img--desktop {
  // Positioning
  position: relative;
  left: 0;

  // Box Model
  width: 70%;

  // Visual
  box-shadow: none;
}



// Proj: image - mobile view
// -----------------------------------------------------------------------------

.Proj-img--mobile {
  // Positioning
  left: 85%;

  // Box Model
  height: 60%;
}



// Proj: image - tablet view
// -----------------------------------------------------------------------------

.Proj-img--tablet {
  // Positioning
  left: 65%;

  // Box Model
  height: 80%;
}





// -----------------------------------------------------------------------------
// Proj: link
// -----------------------------------------------------------------------------

.Proj-link {
  // Box Model
  display: inline-block;
  margin-right: ($page-pad-base-print * $line-height-print) / 2;
  margin-bottom: $page-pad-base-print * $line-height-print;
}





// =============================================================================
// Project Polaroid
// =============================================================================

.ProjPolaroid {
  // Positioning
  position: relative;

  // Box Model
  width: $projpolaroid-width-print;
  height: $projpolaroid-height-print;

  // Typography
  font-size: $projpolaroid-text-print;

  // Visual
  border: $page-border-width-print solid $page-border-color-print;

  // Misc
  page-break-inside: avoid;
}





// -----------------------------------------------------------------------------
// Project Polaroid: content
// -----------------------------------------------------------------------------

.ProjPolaroid-content {
  padding: $page-pad-base-print $page-pad-base-print * $line-height-print;
}





// -----------------------------------------------------------------------------
// Project Polaroid: images
// -----------------------------------------------------------------------------

.ProjPolaroid-images {
  // Positioning
  position: relative;

  // Visual
  background-color: #000;
}




// -----------------------------------------------------------------------------
// Project Polaroid: image
// -----------------------------------------------------------------------------

.ProjPolaroid-img {
  // Positioning
  position: relative;

  // Misc
  opacity: .9;


  // Project Polaroid: image - image overlay
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    top: 0;
    left: 0;

    // Box Model
    display: block;
    width: 100%;
    height: 100%;

    // Visual
    background-image: url(../images/pattern.png);
    content: '';
    opacity: .1;

    // Misc
    box-sizing: border-box;
  }
}





// -----------------------------------------------------------------------------
// Project Polaroid: image text
// -----------------------------------------------------------------------------

.ProjPolaroid-imgText {
  // Box Model
  padding: 1mm 3mm;

  // Typography
  font-family: $sans-serif-alt;
  font-size: $font-size-base-print * .7;
  letter-spacing: .05rem;
  word-spacing: .6rem;

  // Visual
  background-color: #111;  // shows up as very light gray
}





// -----------------------------------------------------------------------------
// Project Polaroid: skills used
// -----------------------------------------------------------------------------

.ProjPolaroid-skillsUsed {
  // Positioning
  position: absolute;
  bottom: $page-pad-base-print;
}





// =============================================================================
// Skill Used
// =============================================================================

.SkillUsed {
  // Box Model
  display: inline-block;
  padding: .55rem .8rem;
  margin-right: ($page-pad-base-print * $line-height-sm) / 4;
  margin-bottom: ($page-pad-base-print * $line-height-sm) / 3;

  // Typography
  font-family: $sans-serif-alt;
  font-size: $font-size-base-print * .68;
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0.05rem;
  text-transform: uppercase;

  // Visual
  border: $page-border-width-print solid $page-border-color-print;
  border-radius: $page-border-rad-print;
}



// Skill Used - reduced size (print only)
// ---------------------------------------------------------------------------

.SkillUsed--printReduced {
  // Box Model
  padding: .48rem .75rem;
  margin-right: ($page-pad-base-print * $line-height-sm) / 5;
  margin-bottom: ($page-pad-base-print * $line-height-sm) / 4;

  // Typography
  font-size: $font-size-base-print * .6;
}





// =============================================================================
// Timeline Event
// =============================================================================

.TimelineEvent {
  // Positioning
  position: relative;

  // Misc
  page-break-inside: avoid;


  // Timeline Event: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Timeline Event: content
// -----------------------------------------------------------------------------

.TimelineEvent-content {
  // Box Model
  width: calc(100% - #{$timeline-icon-width-print}
    - #{$timeline-sxnarrow-width-print} - #{$timeline-sxnarrow-pad-print});
  padding: $timeline-sxn-pad-print;
  margin-left: calc(#{$timeline-icon-width-print}
    + #{$timeline-sxnarrow-width-print} + #{$timeline-sxnarrow-pad-print});

  // Visual
  border: $page-border-width-print solid $page-border-color-print;


  // Timeline Event: content - arrow
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    top: $timeline-sxn-pad-print;
    left: calc(#{$timeline-icon-width-print} + #{$timeline-sxnarrow-pad-print});

    // Box Model
    width: 0;
    height: 0;

    // Visual
    border-color: transparent $page-border-color-print transparent transparent;
    border-style: solid;
    border-width: ($timeline-sxnarrow-height-print / 2)
      $timeline-sxnarrow-width-print ($timeline-sxnarrow-height-print / 2) 0;

    // Misc
    content: '';
    box-sizing: border-box;
  }
}





// -----------------------------------------------------------------------------
// Timeline Event: date
// -----------------------------------------------------------------------------

.TimelineEvent-date {
  // Box Model
  margin-top: $page-pad-base-print;

  // Typography
  font-family: $sans-serif;
  color: #333;
  text-transform: uppercase;
}





// -----------------------------------------------------------------------------
// Timeline Event: header
// -----------------------------------------------------------------------------

.TimelineEvent-header { margin-bottom: $page-pad-base-print; }





// -----------------------------------------------------------------------------
// Timeline Event: icon
// -----------------------------------------------------------------------------

.TimelineEvent-icon {
  // Positioning
  position: absolute;
  top: 0;
  left: 0;

  // Box Model
  width: $timeline-icon-width-print;
  height: $timeline-icon-width-print;

  // Visual
  background-color: #fff;
  border: $page-border-width-print solid $page-border-color-print;
  border-radius: 50%;
}





// -----------------------------------------------------------------------------
// Timeline Event: image
// -----------------------------------------------------------------------------

.TimelineEvent-img {
  // Positioning
  position: absolute;

  // Box Model
  width: 55%;
  margin-top: 50%;
  margin-left: 50%;

  // Misc
  @include vendorize(transform, translate3d(-50%,-50%,0));
}





// -----------------------------------------------------------------------------
// Timeline Event: text
// -----------------------------------------------------------------------------

.TimelineEvent-text { margin-bottom: $page-pad-base-print; }





// *****************************************************************************
//
// Project Modules
//
// *****************************************************************************

// =============================================================================
// Page
// =============================================================================

.Page { font: $light #{$font-size-base-print}/#{$line-height-print} $serif; }





// -----------------------------------------------------------------------------
// Page: go back to main site
// -----------------------------------------------------------------------------

.Page-backToSite { display: none; }




// -----------------------------------------------------------------------------
// Page: content body
// -----------------------------------------------------------------------------

.Page-contentBody {
  // Typography
  font-size: $text-print;
  line-height: $line-height-print;
}





// -----------------------------------------------------------------------------
// Page: site footer
// -----------------------------------------------------------------------------

.Page-footerSite { text-align: center; }





// -----------------------------------------------------------------------------
// Page: site footer text
// -----------------------------------------------------------------------------

.Page-footerSiteText { padding-top: $page-pad-base-print / 2; }





// -----------------------------------------------------------------------------
// Page: go to top of site link
// -----------------------------------------------------------------------------

.Page-goTop { display: none; }





// -----------------------------------------------------------------------------
// Page: headline
// -----------------------------------------------------------------------------

.Page-headline {
  // Box Model
  margin-bottom: $page-pad-base-print;

  // Typography
  font-family: $sans-serif;
  font-size: $headline-print;
  font-weight: $semibold;
  line-height: $line-height-print;
  text-transform: uppercase;
}



// Page: headline - center text
// -----------------------------------------------------------------------------

.Page-headline--center { text-align: center; }



// Page: headline - no bottom margin
// -----------------------------------------------------------------------------

.Page-headline--marginBotNone { margin-bottom: 0; }



// Page: headline - bottom margin (print only)
// -----------------------------------------------------------------------------

.Page-headline--marginBotPrint { margin-bottom: $page-pad-base-print / 2; }



// Page: headline (print only)
// -----------------------------------------------------------------------------

.Page-headline--printReduced { font-size: $headline-print * .90; }





// -----------------------------------------------------------------------------
// Page: sub-headline
// -----------------------------------------------------------------------------

.Page-headlineSub {
  // Box Model
  margin-bottom: $page-pad-base-print;

  // Typography
  font-family: $sans-serif;
  font-size: $text-print;
  font-weight: $light;
  line-height: $line-height-print;
  text-transform: uppercase;
}



// Page: Sub-headline - no bottom margin
// -----------------------------------------------------------------------------

.Page-headlineSub--marginBotNone { margin-bottom: 0; }





// -----------------------------------------------------------------------------
// Page: hypenation point
// -----------------------------------------------------------------------------

.Page-hypenPoint { padding: 0 .2rem; }





// -----------------------------------------------------------------------------
// Page: nav
// -----------------------------------------------------------------------------

.Page-navSite { display: none; }





// -----------------------------------------------------------------------------
// Page: project polaroid image
// -----------------------------------------------------------------------------

.Page-projPolaroidImg {
  // Positioning
  position: absolute;

  // Misc
  opacity: .9;
}



// Page: project polaroid image - hangman project list
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--hangmanlist {
  // Positioning
  top: 50%;
  left: 7%;

  // Box Model
  width: 50%;
}



// Page: project polaroid image - hangman project set
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--hangmanset {
  // Positioning
  top: 27%;
  right: 8%;

  // Box Model
  width: 29%;
}



// Page: project polaroid image - huffman project queue
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--huffmanqueue {
  // Positioning
  top: 10%;
  left: 5.292mm;

  // Box Model
  width: 50%;
}



// Page: project polaroid image - huffman project tree
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--huffmantree {
  // Positioning
  bottom: 10%;
  right: 6.61mm;

  // Box Model
  width: 40%;
}



// Page: project polaroid image - memory mgmt project list
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--memorylist {
  // Positioning
  top: 40%;
  left: 5%;

  // Box Model
  width: 65%;
}



// Page: project polaroid image - memory mgmt project memory structure
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--memorystruct {
  // Positioning
  top: 19%;
  right: 7%;

  // Box Model
  height: 60%;
}



// Page: project polaroid image - reverb project block diagram
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--reverb {
  // Positioning
  bottom: 20%;
  right: 0;

  // Box Model
  width: 100%;
}



// Page: project polaroid image - T9 project numeric pad
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--T9pad {
  // Positioning
  bottom: 8%;
  left: 7%;

  // Box Model
  height: 35%;
}



// Page: project polaroid image - T9 project trie
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--T9trie {
  // Positioning
  top: 8%;
  right: 7%;

  // Box Model
  height: 75%;
}





// -----------------------------------------------------------------------------
// Page: project polaroid image text
// -----------------------------------------------------------------------------

.Page-projPolaroidImgText { position: absolute; }



// Page: project polaroid image text - first text of unix utility project
// -----------------------------------------------------------------------------

.Page-projPolaroidImgText--unixUtility1st {
  // Positioning
  bottom: calc(#{$page-projpolaroidimgtext-bot-print} + (4 * #{$text-print-mm}));
  right: 5%;
}



// Page: project polaroid image text - second text of unix utility project
// -----------------------------------------------------------------------------

.Page-projPolaroidImgText--unixUtility2nd {
  // Positioning
  bottom: calc(#{$page-projpolaroidimgtext-bot-print} + (2 * #{$text-print-mm}));
  left: 10%;
}



// Page: project polaroid image text - third text of unix utility project
// -----------------------------------------------------------------------------

.Page-projPolaroidImgText--unixUtility3rd {
  // Positioning
  bottom: $page-projpolaroidimgtext-bot-print;
  right: 4.23mm;
}





// -----------------------------------------------------------------------------
// Page: title
// -----------------------------------------------------------------------------

.Page-title {
  // Box Model
  margin-bottom: $page-pad-base-print * $line-height-print;

  // Typography
  font-family: $sans-serif;
  font-size: $title-print;
  font-weight: $bold;
  line-height: $line-height-print;
  text-align: center;
  text-transform: uppercase;

  // Misc
  page-break-after: avoid;
}



// Page: title - no bottom margin
// -----------------------------------------------------------------------------

.Page-title--marginBotNone { margin-bottom: 0; }



// Page: title - no bottom margin
// -----------------------------------------------------------------------------

.Page-title--printHidden { display: none; }





// -----------------------------------------------------------------------------
// Page: img
// -----------------------------------------------------------------------------

.Page-img {
  // Box Model
  display: block;
  width: 100%;
}





// =============================================================================
// Projects
// =============================================================================

.Projects {
  // Positioning
  position: relative;

  // Misc
  page-break-inside: avoid;


  // Projects: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Projects: Project Polaroid
// -----------------------------------------------------------------------------

.Projects-projPolaroid {
  // Box Model
  float: left;
  margin-top: $projects-projpolaroid-margin-print;
  margin-right: 0;
  margin-bottom: $projects-projpolaroid-margin-print;
  margin-left: 0;
}



// Projects: Project Polaroid - even numbered project
// -----------------------------------------------------------------------------

.Projects-projPolaroid--even {
  margin-left: $projects-projpolaroid-margin-print;
}



// Projects: Project Polaroid - Odd numbered project
// -----------------------------------------------------------------------------

.Projects-projPolaroid--odd {
  margin-right: $projects-projpolaroid-margin-print;
}



// Projects: Project Polaroid - first numbered project
// -----------------------------------------------------------------------------

.Projects-projPolaroid--first { margin-top: 0; }



// Projects: Project Polaroid - last numbered project
// -----------------------------------------------------------------------------

.Projects-projPolaroid--last { margin-bottom: 0; }





// =============================================================================
// Resume Overview
// =============================================================================

.ResumeOverview {

  // Resume Overview: arrow shaft
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    top: $headline-print-mm * $line-height-print;
    left: ($page-arrow-pos-left-print / 2) - $resume-arrowshaft-width-print;

    // Box Model
    width: 0;
    height: calc(100% - (#{$headline-print-mm} * #{$line-height-print})
      - #{$text-print-mm} - #{$resume-arrow-length-offset-print});

    // Visual
    border-left: $page-border-width-print solid $page-border-color-print;

    // Misc
    content: '';
  }


  // Resume Overview: arrow
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    bottom: $text-print-mm * $line-height-print;
    left: 0;

    // Box Model
    width: 0;
    height: 0;

    // Visual
    border-color: $page-border-color-print transparent transparent;
    border-style: solid;
    border-width: $page-arrow-height-print ($page-arrow-pos-left-print / 2) 0;

    // Misc
    content: '';
    box-sizing: border-box;
  }
}





// -----------------------------------------------------------------------------
// Resume Overview: content
// -----------------------------------------------------------------------------

.ResumeOverview-content { margin-left: $page-arrow-pos-left-print; }





// -----------------------------------------------------------------------------
// Resume Overview: section content
// -----------------------------------------------------------------------------

.ResumeOverview-sxnContent {
  // Box Model
  margin-bottom: $text-print-mm * $line-height-sm;
  margin-left: 0;
}





// -----------------------------------------------------------------------------
// Resume Overview: section title
// -----------------------------------------------------------------------------

.ResumeOverview-sxnTitle { font-weight: $regular; }





// =============================================================================
// Skill Set
// =============================================================================

.SkillSet { @include clear('', block); }





// -----------------------------------------------------------------------------
// Skill Set: chart
// -----------------------------------------------------------------------------

.SkillSet-chart {
  // Positioning
  position: relative;

  // Box Model
  float: left;
  width: $skillset-chart-width;
  margin-bottom: $skillset-chart-margin * 2;
  font-weight: $regular;
}



// Skill Set: chart - odd numbered
// -----------------------------------------------------------------------------

.SkillSet-chart--even { margin-left: $skillset-chart-margin; }



// Skill Set: chart - odd numbered
// -----------------------------------------------------------------------------

.SkillSet-chart--odd { margin-right: $skillset-chart-margin; }





// -----------------------------------------------------------------------------
// Skill Set: chart content
// -----------------------------------------------------------------------------

.SkillSet-chartContent { display: block; }





// -----------------------------------------------------------------------------
// Skill Set: group
// -----------------------------------------------------------------------------

.SkillSet-group {
  // Box Model
  float: left;
  width: $skillset-chart-width;
}



// Skill Set: soft skill set - left set
// -----------------------------------------------------------------------------

.SkillSet-group--left { margin-right: $skillset-chart-margin; }



// Skill Set: soft skill set - right set
// -----------------------------------------------------------------------------

.SkillSet-group--right { margin-left: $skillset-chart-margin; }





// -----------------------------------------------------------------------------
// Skill Set: hard skills
// -----------------------------------------------------------------------------

.SkillSet-hard {
  // Positioning
  position: relative;

  // Box Model
  float: left;

  // Misc
  page-break-inside: avoid;
}





// -----------------------------------------------------------------------------
// Skill Set: legend
// -----------------------------------------------------------------------------

.SkillSet-legend { margin-top: $page-pad-base-print * $line-height-print; }





// -----------------------------------------------------------------------------
// Skill Set: skills
// -----------------------------------------------------------------------------

.SkillSet-skills { @include clear('', block); }





// -----------------------------------------------------------------------------
// Skill Set: soft skills
// -----------------------------------------------------------------------------

.SkillSet-soft {
  // Positioning
  position: relative;

  // Box Model
  float: left;
  width: 100%;
  margin-top: $page-pad-base-print * $line-height-print;

  // Misc
  page-break-inside: avoid;


  // SkillSet: soft skill set float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Skill Set: soft skill set
// -----------------------------------------------------------------------------

.SkillSet-softSkills {
  // Box Model
  width: $skillset-softskill-width-dbl-print;
  margin-right: auto;
  margin-left: auto;
}





// -----------------------------------------------------------------------------
// Skill Set: soft skill
// -----------------------------------------------------------------------------

.SkillSet-softSkill {
  // Box Model
  display: inline-block;
  width: $skillset-softskill-width-print;
  height: $skillset-softskill-height-print;
  padding-right: 1.59mm;
  padding-left: 1.59mm;
  margin-bottom: $skillset-softskill-margin-print;
  margin-left: $skillset-softskill-margin-print / 3;

  // Typography
  line-height: $skillset-softskill-height-print;
  text-align: center;

  // Visual
  border: $page-border-width-print solid $page-border-color-print;
  border-radius: $skillset-softskill-border-rad-print;
}





// -----------------------------------------------------------------------------
// Skill Set: soft skill - last skill
// -----------------------------------------------------------------------------

.SkillSet-softSkill--lastSkill { margin-bottom: 0; }





// -----------------------------------------------------------------------------
// Skill Set: soft skill text
// -----------------------------------------------------------------------------

.SkillSet-softSkillText {
  // Box Model
  display: inline-block;

  // Typography
  font-size: $skillset-softskill-text-print;
  line-height: $line-height-print;
  letter-spacing: .05rem;
  vertical-align: middle;
}





// -----------------------------------------------------------------------------
// Skill Set: title
// -----------------------------------------------------------------------------

.SkillSet-title { margin-bottom: $page-pad-base-print; }





// Skill Set: title - centered
// -----------------------------------------------------------------------------

.SkillSet-title--center { text-align: center; }





// =============================================================================
// Section
// =============================================================================

.Sxn {
  // Box Model
  padding-bottom: $sxn-pad-vert;

  // Misc
  page-break-inside: avoid;
}





// =============================================================================
// Section
// =============================================================================

.SxnContact { display: none; }





// =============================================================================
// How Section
// =============================================================================

.SxnHow { position: relative; }





// -----------------------------------------------------------------------------
// How Section: how process
// -----------------------------------------------------------------------------

.SxnHow-process {
  // Positioning
  position: relative;

  // Box Model
  height: ($howprocess-sxn-height-print * 2) + $howprocess-circle-height-print;
  margin-bottom: $sxn-pad-vert;

  // Misc
  page-break-inside: avoid;


  // How Section: how process circle
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    top: $howprocess-sxn-height-print - ($howprocess-icon-height-print * .75);
    left: calc(50% - (#{$howprocess-circle-width-print} / 2));

    // Box Model
    width: $howprocess-circle-width-print;
    height: $howprocess-circle-height-print;

    // Visual
    border: $page-border-width-print solid $page-border-color-print;
    border-radius: 50%;

    // Misc
    content: '';
    box-sizing: border-box;
  }


  // How Section: how process circle title
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    top: ($howprocess-circle-height-print / 2) - ($text-print * $line-height-print)
      + $howprocess-sxn-height-print - ($howprocess-icon-height-print * .75);
    left: calc(50% - (#{$howprocess-circletitle-width-print} / 2));

    // Box Model
    width: $howprocess-circle-width-print / 1.5;

    // Typography
    font-family: $sans-serif-alt;
    font-weight: $regular;
    line-height: $line-height-print;
    text-align: center;

    // Misc
    content: 'Iterative Process';
    box-sizing: border-box;
  }
}





// -----------------------------------------------------------------------------
// How Section: how process icon
// -----------------------------------------------------------------------------

.SxnHow-processIcon {
  // Positioning
  position: absolute;
  top: $howprocess-sxn-height-print - ($howprocess-icon-height-print * .75);
  z-index: 2;

  // Box Model
  width: $howprocess-icon-width-print;
  height: $howprocess-icon-height-print;

  // Visual
  border: $page-border-width-print solid $page-border-color-print;
  border-radius: 50%;
  background-color: #fff;


  // How Section: how process icon - arrow
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;

    // Visual
    border-color: transparent transparent transparent $page-border-color-print;
    border-style: solid;
    border-width: ($howprocess-iconarrow-height-print / 2) 0
      $howprocess-iconarrow-width-print ($howprocess-iconarrow-height-print / 2);

    // Misc
    content: '';
  }
}



// How Section: how process icon - first icon
// -----------------------------------------------------------------------------

.SxnHow-processIcon--1st {
  // Positioning
  left: calc(50% - (#{$howprocess-circle-width-print} / 2)
    - (#{$howprocess-icon-width-print}) / 2);


  // How Section: how process icon - tag
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    top: -($text-print-mm / 1.5);
    left: -($text-print-mm / 1.5);

    // Box Model
    padding-right: 1.32mm;

    // Typography
    font-family: $sans-serif-alt;
    color: #999;

    // Misc
    background-color: #fff;
    content: 'Start';
  }


  // How Section: how process icon - arrow
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    bottom: -($howprocess-iconarrow-height-print / 1.4);
    left: $howprocess-icon-width-print / 2.5;

    // Misc
    @include vendorize(transform, rotate(-80deg));
  }
}



// How Section: how process icon - second icon
// -----------------------------------------------------------------------------

.SxnHow-processIcon--2nd {
  // Positioning
  left: calc(50% + (#{$howprocess-circle-width-print} / 2)
    - (#{$howprocess-icon-width-print}) / 2);


  // How Section: how process icon - arrow
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    top: $page-border-width-print * 6;
    left: -($howprocess-iconarrow-width-print / 1.35);

    // Misc
    @include vendorize(transform, rotate(30deg));
  }
}



// How Section: how process icon - third icon
// -----------------------------------------------------------------------------

.SxnHow-processIcon--3rd {
  // Positioning
  top: $howprocess-circle-height-print + $howprocess-sxn-height-print
    - ($howprocess-icon-height-print * 1.2);
  left: calc(50% - (#{$howprocess-icon-width-print}) / 2);


  // How Section: how process icon - arrow
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    top: $page-border-width-print * 9;
    right: -($howprocess-iconarrow-width-print / 1.2);

    // Misc
    @include vendorize(transform, rotate(-210deg));
  }
}





// -----------------------------------------------------------------------------
// How Section: how process image
// -----------------------------------------------------------------------------

.SxnHow-processImg {
  // Box Model
  width: 50%;
  margin-top: 50%;
  margin-left: 50%;

  // Misc
  @include vendorize(transform, translate3d(-50%,-50%,0));
}





// -----------------------------------------------------------------------------
// How Section: how process section
// -----------------------------------------------------------------------------

.SxnHow-processSxn {
  // Positioning
  position: relative;

  // Box Model
  width: $howprocess-sxn-width-print;
  padding: ($howprocess-sxn-pad-print * 1.25) 0 ($howprocess-sxn-pad-print * 2);
  margin-bottom: $page-margin-vert-print * .85;

  // Typography
  text-align: center;

  // Visual
  border: $page-border-width-print solid $page-border-color-print;
  border-radius: $page-border-rad-print;
}



// How Section: how process section - first section
// -----------------------------------------------------------------------------

.SxnHow-processSxn--1st {
  // Box Model
  margin-top: $howprocess-circle-height-print + $howprocess-icon-height-print;

  // Positioning
  position: absolute;
  top: 0;
  left: calc(50% - (#{$howprocess-circle-width-print} / 2)
    - #{$howprocess-sxn-width-print});

  // Box Model
  margin-top: 0;
}



// How Section: how process section - second section
// -----------------------------------------------------------------------------

.SxnHow-processSxn--2nd {
  // Positioning
  position: absolute;
  top: 0;
  left: calc(50% + (#{$howprocess-circle-width-print} / 2));

  // Box Model
  margin-top: 0;
}



// How Section: how process section - third section
// -----------------------------------------------------------------------------

.SxnHow-processSxn--3rd {
  // Positioning
  position: absolute;
  top: $howprocess-sxn-height-print + $howprocess-circle-height-print
    - ($howprocess-icon-height-print * .42);
  left: calc(50% - (#{$howprocess-sxn-width-print} / 2));

  // Box Model
  margin-top: 0;
}





// -----------------------------------------------------------------------------
// How Section: how process title
// -----------------------------------------------------------------------------

.SxnHow-processTitle {
  // Box Model
  margin-bottom: $page-pad-base-print / 4;

  // Typography
  text-align: center;
}





// -----------------------------------------------------------------------------
// How Section: how tools
// -----------------------------------------------------------------------------

.SxnHow-processTools { page-break-inside: avoid; }





// -----------------------------------------------------------------------------
// How Section: how tool
// -----------------------------------------------------------------------------

.SxnHow-processTool {
  // Positioning
  float: left;

  // Box Model
  width: 45%;
  margin-bottom: $page-margin-vert-print;
}



// How Section: how tool - odd numbered
// -----------------------------------------------------------------------------

.SxnHow-processTool--odd { margin-right: 5%; }



// How Section: how tool - even numbered
// -----------------------------------------------------------------------------

.SxnHow-processTool--even { margin-left: 5%; }





// -----------------------------------------------------------------------------
// How Section: how tool
// -----------------------------------------------------------------------------

.SxnHow-processToolDescr { overflow: hidden; }





// -----------------------------------------------------------------------------
// How Section: how tool icon
// -----------------------------------------------------------------------------

.SxnHow-processToolIcon {
  // Positioning
  float: left;

  // Box Model
  width: $howprocess-icon-width-print * .4;
  height: $howprocess-icon-height-print * .4;
  margin-top: 1.32mm;
  margin-right: $page-pad-base-print;
}





// -----------------------------------------------------------------------------
// How Section: how tool icon
// -----------------------------------------------------------------------------

.SxnHow-processToolText { font-size: $text-print * .85; }





// -----------------------------------------------------------------------------
// How Section: how tool icon
// -----------------------------------------------------------------------------

.SxnHow-processToolTextTag {
  // Box Model
  display: block;

  // Typography
  font-size: $text-print * .75;
  font-style: italic;
  text-align: right;
}





// =============================================================================
// Section: Intro
// =============================================================================

.SxnIntro {
  // Positioning
  position: relative;

  // Box Model
  padding: $sxn-pad-vert $page-pad-horz-md;


  // Intro Section :: chevron pointing down
  // ---------------------------------------------------------------------------

  &::before { display: none; }


  // Intro Section :: chevron pointing down
  // ---------------------------------------------------------------------------

  &::after { display: none; }
}





// -----------------------------------------------------------------------------
// Intro Section: Content - vertically centered
// -----------------------------------------------------------------------------

.SxnIntro-content { padding: 0 $page-pad-horz-md; }





// -----------------------------------------------------------------------------
// Intro Section: headline
// -----------------------------------------------------------------------------

.SxnIntro-headline { text-align: center; }





// -----------------------------------------------------------------------------
// Intro Section: logo
// -----------------------------------------------------------------------------

.SxnIntro-logo {
  // Box Model
  width: 95px;
  margin-right: auto;
  margin-left: auto;
}





// -----------------------------------------------------------------------------
// Intro Section: title section
// -----------------------------------------------------------------------------

.SxnIntro-sxnTitle { position: relative; }





// -----------------------------------------------------------------------------
// Intro Section: sub-title section
// -----------------------------------------------------------------------------

.SxnIntro-sxnTitleSub {  }





// -----------------------------------------------------------------------------
// Intro Section: title
// -----------------------------------------------------------------------------

.SxnIntro-title { padding-top: $text-print-mm; }





// -----------------------------------------------------------------------------
// Intro Section: text
// -----------------------------------------------------------------------------

.SxnIntro-text {
  // Typography
  text-align: center;
  color: #333;
}



// Intro Section: text - smaller
// -----------------------------------------------------------------------------

.SxnIntro-text--emphasis {
  // Typography
  font-size: $text-print * .85;
  font-style: italic;
  letter-spacing: .05rem;
  color: #333;
}





// -----------------------------------------------------------------------------
// Intro Section: tooltip
// -----------------------------------------------------------------------------

.SxnIntro-tooltip {
  // Box Model
  width: 100%;

  // Typography
  text-align: center;
}





// =============================================================================
// Section: Resume
// =============================================================================

.SxnResume {
  position: relative;


  // Resume Section: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}




// -----------------------------------------------------------------------------
// Resume Section: buttons
// -----------------------------------------------------------------------------

.SxnResume-btns { display: none; }




// -----------------------------------------------------------------------------
// Resume Section: section
// -----------------------------------------------------------------------------

.SxnResume-content {
  // Box Model
  width: 75%;
  margin-right: auto;
  margin-left: auto;

  // Visual
  border: $page-border-width-print solid $page-border-color-print;
}



// -----------------------------------------------------------------------------
// Resume Section: content banner
// -----------------------------------------------------------------------------

.SxnResume-contentBanner { display: none; }





// -----------------------------------------------------------------------------
// Resume Section: section
// -----------------------------------------------------------------------------

.SxnResume-sxn {
  // Box Model
  float: left;
  width: 50%;
}




// -----------------------------------------------------------------------------
// Resume Section: Sub-title
// -----------------------------------------------------------------------------

.SxnResume-titleSub { display: none; }




// =============================================================================
// Section: What
// =============================================================================

.SxnWhat { position: relative; }





// =============================================================================
// Section: Where
// =============================================================================

.SxnWhere { position: relative; }





// -----------------------------------------------------------------------------
// Where Section: content
// -----------------------------------------------------------------------------

.SxnWhere-content {
  // Positioning
  position: relative;


  // Where Section: content - arrow shaft
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    top: $timeline-shaft-top-print + $title-print-mm;
    left: ($timeline-icon-width-print / 2) - ($timeline-arrowshaft-width-print / 2);

    // Box Model
    width: 0;
    height: calc(100% - (#{$timeline-shaft-top-print} * 2) - #{$timeline-arrow-height-print});

    // Misc
    border-left: $page-border-width-print solid $page-border-color-print;
    content: '';
  }


  // Where Section: content - arrow head
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    bottom: -($timeline-arrow-height-print);
    left: ($timeline-icon-width-print / 2) - ($timeline-arrow-width-print / 2);

    // Box Model
    width: 0;
    height: 0;

    // Visual
    border-color: $page-border-color-print transparent transparent;
    border-style: solid;
    border-width: $timeline-arrow-height-print ($timeline-arrow-width-print / 2) 0;

    // Misc
    content: '';
    box-sizing: border-box;
  }
}





// -----------------------------------------------------------------------------
// Where Section: timeline event
// -----------------------------------------------------------------------------

.SxnWhere-timelineEvent {
  // Positioning
  position: relative;

  // Box Model
  display: block;
  margin-bottom: $sxn-pad-vert / 2;
}



// Where Section: timeline event - last event
// -----------------------------------------------------------------------------

.SxnWhere-timelineEvent--last { margin-bottom: 0; }





// =============================================================================
// Section: Who
// =============================================================================

.SxnWho {
  // Positioning
  position: relative;


  // Who Section: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Who Section: aside
// -----------------------------------------------------------------------------

.SxnWho-aside {
  // Positioning
  position: relative;

  // Box Model
  float: left;
  width: $who-aside-width-md;
}





// -----------------------------------------------------------------------------
// Who Section: content
// -----------------------------------------------------------------------------

.SxnWho-content {
  // Positioning
  position: relative;

  // Box Model
  float: left;
  width: $who-content-width-md;
}





// -----------------------------------------------------------------------------
// Who Section: img
// -----------------------------------------------------------------------------

.SxnWho-img {
  // Box Model
  width: 60%;
  margin-top: 35%;
  margin-right: auto;
  margin-left: auto;

  // Visual
  border-radius: 50%;
}





// -----------------------------------------------------------------------------
// Who Section: aside
// -----------------------------------------------------------------------------

.SxnWho-asideText {
  // Box Model
  width: 100%;
  margin-top: $page-pad-base-print * $line-height-print;
  margin-right: auto;
  margin-left: auto;

  // Typography
  text-align: center;
}





// =============================================================================
// Section: Why
// =============================================================================

.SxnWhy {
  // Positioning
  position: relative;


  // Why Section: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Why Section: intro
// -----------------------------------------------------------------------------

.SxnWhy-intro {
  // Box Model
  width: 100%;
  margin-left: 0;
  margin-bottom: $page-pad-base-print * $line-height-print * 2;
}





// -----------------------------------------------------------------------------
// Why Section: section
// -----------------------------------------------------------------------------

.SxnWhy-sxns {
  // Positioning
  position: relative;


  // Why Section: sections float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Why Section: section
// -----------------------------------------------------------------------------

.SxnWhy-sxn {
  // Box Model
  float: left;
  width: $why-sxn-width-lg;
  padding: $why-sxn-pad-print;
  margin-bottom: $page-pad-base-print * $line-height-print;
  margin-left: $why-sxn-arrow-length;

  // VIsual
  border: $page-border-width-print solid $page-border-color-print;
  border-radius: $page-border-rad-print;


  // Why Section: horizontal line extending from section
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    left: ($page-arrow-pos-left-print / 2);

    // Box Model
    width: calc(#{$why-sxn-arrow-length} + (#{$why-arrow-width-print} / 2)
      - (#{$page-arrow-pos-left-print} / 2) - #{$page-border-width-print});
    height: .265mm;

    // Visual
    border-top: $page-border-width-print solid $page-border-color-print;

    // Misc
    content: '';
    box-sizing: border-box;
  }
}



// Why Section: last section
// -----------------------------------------------------------------------------

.SxnWhy-sxn--last {
  // Box Model
  width: 100%;
  margin-top: $page-pad-base-print * $line-height-print;
  margin-left: 0;


  // Why Section: (no) horizontal line extending from section
  // ---------------------------------------------------------------------------

  &::before { display: none; }
}





// -----------------------------------------------------------------------------
// Why Section: arrow connecting sections
// -----------------------------------------------------------------------------

.SxnWhy-sxnsArrow {
  // Positioning
  position: relative;


  // Why Section: arrow shaft connecting all sections
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    top: ($why-sxn-pad-print + ($why-arrow-width-print / 2));
    left: ($page-arrow-pos-left-print / 2) - ($why-arrow-width-print / 2);

    // Box Model
    width: .265mm;
    height: calc(100% - #{$why-sxn-pad-print});

    // Visual
    border-left: $page-border-width-print solid $page-border-color-print;

    // Misc
    content: '';
  }


  // Why Section: arrow pointing to the last section
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    top: 100%;
    left: 0;

    // Box Model
    width: 0;
    height: 0;

    // Visual
    border-color: $page-border-color-print transparent transparent;
    border-style: solid;
    border-width: $page-arrow-height-print ($page-arrow-pos-left-print / 2) 0;

    // Misc
    content: '';
  }
}





// -----------------------------------------------------------------------------
// Why Section: section title
// -----------------------------------------------------------------------------

.SxnWhy-sxnTitle {
  // Box Model
  margin-bottom: $page-pad-base-print;

  // Typography
  font-size: $text-print;
  font-weight: $semibold;
}



// Why Section: section title - englarged
// -----------------------------------------------------------------------------

.SxnWhy-sxnTitle--reduced {
  // Typography
  font-size: $font-size-base-print * .85;
  font-style: italic;
  font-weight: $light;
  line-height: 1;
  vertical-align: middle;
}
