// =============================================================================
// Form
// =============================================================================

.Form { position: relative; }





// -----------------------------------------------------------------------------
// Form: element
// -----------------------------------------------------------------------------

.Form-element { margin-bottom: $text-sm * $line-height-base; }



// Form: element - text box
// -----------------------------------------------------------------------------

.Form-element--textBox { margin-top: $text-sm * $line-height-base * 1.5; }





// -----------------------------------------------------------------------------
// Form: input
// -----------------------------------------------------------------------------

.Form-input {
  // Box Model
  display: block;
  width: 100%;

  // Typography
  font-family: $sans-serif-alt;
  font-size: $text-sm;
  font-weight: $light;
  line-height: $line-height-base;
  color: $page-text-color;

  // Visual
  background-color: transparent;


  // Form: (error) message - input message :: error happened
  // ---------------------------------------------------------------------------

  &[data-error='true'] { background-color: $page-form-msg-bgcolor; }
}



// Form: input - text
// -----------------------------------------------------------------------------

.Form-input--text {
  border-color: transparent transparent $page-forminput-border-color transparent;
  border-style: solid;
  border-width: 0 0 $page-btn-border-width 0;


  // Form: (error) message - input message :: error happened
  // ---------------------------------------------------------------------------

  &[data-error='true'] {
    border-color: transparent transparent $page-form-fail-color transparent;
  }
}



// Form: input - text box
// -----------------------------------------------------------------------------

.Form-input--textBox {
  // Box Model
  height: $text-sm * 10;

  // Visual
  border-color: $page-forminput-border-color;
  border-style: solid;
  border-width: $page-btn-border-width;


  // Form: (error) message - input message :: error happened
  // ---------------------------------------------------------------------------

  &[data-error='true'] { border-color: $page-form-fail-color; }
}





// -----------------------------------------------------------------------------
// Form: label
// -----------------------------------------------------------------------------

.Form-label {
  // Positioning
  position: relative;

  // Box Model
  display: block;

  // Typography
  font-family: $sans-serif-alt;
  color: $page-text-color;
  text-transform: uppercase;


  // Form: (error) message - input message :: error happened
  // ---------------------------------------------------------------------------

  &[data-error='true'] {
    // Box Model
    padding: 6px 12px;

    // Typography
    font-size: $text-sm;
    color: $page-form-fail-color;

    // Visual
    background-color: $page-form-msg-bgcolor;
  }
}





// -----------------------------------------------------------------------------
// Form: (error) message
// -----------------------------------------------------------------------------

.Form-msg {
  // Box Model
  display: block;
  margin-bottom: $text-sm * $line-height-base;

  // Typography
  font-family: $sans-serif-alt;


  // Form: message :: data failed to submit
  // ---------------------------------------------------------------------------

  &[data-submit] {
    // Box Model
    padding: $text-sm;

    // Typography
    text-align: center;

    // Visual
    background-color: $page-form-msg-bgcolor;
    border-style: solid;
    border-width: $page-border-width;
  }


  // Form: message :: data failed to submit
  // ---------------------------------------------------------------------------

  &[data-submit="fail"] {
    // Typography
    color: $page-form-fail-color;

    // Visual
    border-color: $page-form-fail-color;
  }


  // Form: message :: no data submitted
  // ---------------------------------------------------------------------------

  &[data-submit="none"] { display: none; }


  // Form: message :: data successfully submitted
  // ---------------------------------------------------------------------------

  &[data-submit="success"] {
    // Typography
    color: $page-form-success-color;

    // Visual
    border-color: $page-form-success-color;
  }
}



// Form: (error) message - input
// -----------------------------------------------------------------------------

.Form-msg--inputError {
  // Box Model
  padding: 6px 0 0;

  // Typography
  color: $page-form-fail-color;


  // Form: (error) message - input :: no error
  // ---------------------------------------------------------------------------

  &[data-error='false'] { display: none; }
}





// -----------------------------------------------------------------------------
// Form: required notification
// -----------------------------------------------------------------------------

.Form-required {
  // Typography
  font-style: italic;
  color: $page-text-color-accent;
}





// -----------------------------------------------------------------------------
// Form: required notification
// -----------------------------------------------------------------------------

.Form-required--reduced { font-size: 1.2rem; }
