// =============================================================================
// Btn Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Multipliers
$btn-text-mult: .8;
$btn-pad-mult: .6;





// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Text: font size
// Dependence: btn text mult
$btn-text-sm: $text-sm * $btn-text-mult;
$btn-text-md: $text-md * $btn-text-mult;
$btn-text-lg: $text-lg * $btn-text-mult;
$btn-text-xl: $text-lg;


// Padding: horizontal
// Dependence: text
$btn-pad-horz-sm: $btn-text-sm;
$btn-pad-horz-md: $btn-text-md;
$btn-pad-horz-lg: $btn-text-lg;
$btn-pad-horz-xl: $btn-text-xl;


// Padding: vertical
// Dependence: horz padding
$btn-pad-vert-sm: $btn-pad-horz-sm * $btn-pad-mult;
$btn-pad-vert-md: $btn-pad-horz-md * $btn-pad-mult;
$btn-pad-vert-lg: $btn-pad-horz-lg * $btn-pad-mult;
$btn-pad-vert-xl: $btn-pad-horz-xl * $btn-pad-mult;


// Height
// Dependence: text, border width, horz padding
$btn-height-sm: ($btn-text-sm * $line-height-base) + (2 * $btn-pad-vert-sm)
  + (2 * $page-btn-border-width);
$btn-height-md: ($btn-text-md * $line-height-base) + (2 * $btn-pad-vert-md)
  + (2 * $page-btn-border-width);
$btn-height-lg: ($btn-text-lg * $line-height-base) + (2 * $btn-pad-vert-lg)
  + (2 * $page-btn-border-width);
$btn-height-xl: ($btn-text-xl * $line-height-base) + (2 * $btn-pad-vert-xl)
  + (2 * $page-btn-border-width);
