// =============================================================================
// Button
// =============================================================================

.Btn {
  // Box Model
  display: inline-block;
  padding: $btn-pad-vert-sm $btn-pad-horz-sm;

  // Typography
  font-family: $sans-serif;
  font-size: $btn-text-sm;
  font-weight: $regular;
  line-height: $line-height-sm;
  letter-spacing: .025em;
  text-decoration: none;  // removes btn-link underlines
  text-transform: uppercase;

  // Visual
  border-radius: $page-border-rad;

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Box Model
    padding: $btn-pad-vert-md $btn-pad-horz-md;

    // Typography
    font-size: $btn-text-md;
  }


  @include responsive($screen, 'min-xl') {
    // Box Model
    padding: $btn-pad-vert-lg $btn-pad-horz-lg;

    // Typography
    font-size: $btn-text-lg;
  }


  // Button moz focus offset adjustment
  // ---------------------------------------------------------------------------

  // &::-moz-focus-inner {
  //   // Box Model
  //   padding: 2px 0 0;

  //   // Visual
  //   border-width: 1px;
  // }


  // Button (radio) :: selected (button disabled) :: hover
  // ---------------------------------------------------------------------------

  &[aria-disabled="true"]:hover { cursor: default; }


  // Button (radio) :: not selected (button active) :: hover
  // ---------------------------------------------------------------------------

  &[aria-disabled="false"]:hover { cursor: pointer; }


  // Button (toggle) :: hover
  // ---------------------------------------------------------------------------

  &[aria-pressed]:hover { cursor: pointer; }
}



// Button - outline theme
// -----------------------------------------------------------------------------

.Btn--themeOutline {
  // Typography
  color: $page-btn-text-color;

  // Visual
  background-color: transparent;
  border-color: $page-btn-border-color;
  border-style: solid;
  border-width: $page-btn-border-width;

  // Misc
  @include vendorize(transition, all 230ms linear);


  // Button :: disabled
  // ---------------------------------------------------------------------------

  &[aria-disabled="true"] {
    // Typography
    color: $page-btn-disabled-color;

    // Visual
    border-color: $page-btn-disabled-color;
  }


  // Button - outline theme :: hover
  // ---------------------------------------------------------------------------

  &[aria-disabled="false"]:hover {
    // Typography
    color: $page-btn-text-color-hover;

    // Visual
    background-color: $page-btn-bgcolor-hover;
    border-color: $page-btn-bgcolor-hover;
  }


  // Button - outline theme :: active
  // ---------------------------------------------------------------------------

  &[aria-disabled="false"]:active {
    // Typography
    color: $page-btn-text-color-hover;

    // Visual
    background-color: rgba(255,234,167,.7);  // opaque $page-color-accent
    border-color: transparent;
  }
}
