// =============================================================================
// Clear Floats
// =============================================================================
//
// Use to clear floats within a parent node.
// @param    $content    Displayed content, typically ''. Use space (' ' or
//                       '\0020') if space appears at the top and bottom of
//                       elements that are clearfixed.
// @param    $display    Box model display style for psuedo-elements. Use
//                       'table' to contain top-margins of child elements,
//                       otherwise use 'block'.

@mixin clear($content, $display) {
  &::before,
  &::after {
    // Box Model
    display: $display;

    // Misc
    content: $content;
    box-sizing: border-box;
  }


  &::after { clear: both; }
}





// =============================================================================
// Overlay
// =============================================================================
//
// Absolutely position overlay that fills entire container at $opacity using
// the $pattern.
// @param    $pattern    Background image to be used as the overlay.
// @param    $opacity    The amount of opacity of the pattern overlay.

@mixin pattern-overlay($pattern, $opacity) {
  // Positioning
  position: absolute;
  top: 0;
  left: 0;

  // Box Model
  height: 100%;
  width: 100%;

  // Visual
  background-image: url($pattern);

  // Misc
  content: '';
  opacity: $opacity;
}





// =============================================================================
// Media Query
// =============================================================================
//
// Creates a media query based on the $media type and $breakpoint, which
// contains the selector content. The content within the media query is based
// on the selector that the mixin is included within.
// Valid media types: see $media-type list
// Valid breakpoints: see $breakpoints map
// @param   $media        media type the media query takes affect for
// @param   $breakpoint   the point which the media query takes affect
//
// @return  @media [$media] and [$breakpoint] { [seclector content] }

@mixin responsive($media, $breakpoint) {
  $break: map-has-key($breakpoints, $breakpoint);
  $media-type: index($media-types, $media);

  @if $media-type == null {
    @warn "'#{$media}' not a valid media type, please consult "
      + "'$media-type' list.";

  } @else if $break == null {
    @warn "'#{$breakpoint}'} not a valid breakpoint, please consult "
      + "'$breakpoints' map.";

  } @else {
    @media #{$media} and #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
}





// =============================================================================
// Add CSS Property With Vendor Prefixes
// =============================================================================
//
// Sets vendor specific prefixes for the property, as well as sets the property
// as normal (without a vendor prefix).
// @param    $property   property name to which vendor prefixes are added
// @param    $value      value to be set to the property

@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
     -moz-#{$property}: $value;
      -ms-#{$property}: $value;
       -o-#{$property}: $value;
          #{$property}: $value;
}





// =============================================================================
// Section Overlay
// =============================================================================
//
// Absolutely position pattern.png overlay that fills entire container at
// 23% opacity.

@mixin sxn-bgoverlay() {
  @include pattern-overlay('../images/pattern.png', .23);
}





// =============================================================================
// Section: Padding
// =============================================================================
//
// Section padding.
// Horizontal padding it even for devices with screen widths less than 950px.
// For devices with screen widths larger than or equal to 950px, the left
// padding is less than the right padding by 2%.
// The vertical padding is even no matter the device size.

@mixin sxn-pad() {
  // Box Model
  padding: $sxn-pad-vert $page-pad-horz-md;

  // Media Queries
  @include responsive($screen, 'min-lg') {
    // Box Model
    padding-right: $page-pad-horz-lg;
    padding-left: $page-pad-horz-sm;
  }


  @media #{$screen} and (min-width: 1650px) {
    // Box Model
    padding-right: $page-pad-horz-md;
    padding-left: $page-pad-horz-md;
  }
}





// =============================================================================
// Section: Dark background theme
// =============================================================================
//
// Default dark background theme for a section. Theme contains a z-index,
// top border, and box-shadow.

@mixin sxn-bgtheme-dark() {
  // Positioning
  z-index: 1;

  // Visual
  background-color: $sxn-bgcolor-dark;
  border-top: $sxn-border-width solid $sxn-border-color-dark;

  // Misc
  box-shadow: 0px 0px 2px 0px $sxn-boxshadow;
}





// =============================================================================
// Section: Light background theme
// =============================================================================
//
// Default light background theme for a section. Overlay applied via the
// psuedo-element ::before. See sxn-bgoverlay() for overlay details.

@mixin sxn-bgtheme-light() {
  // Visual
  background-color: $sxn-bgcolor-light;


  // Section overlay
  // ---------------------------------------------------------------------------

  &::before { @include sxn-bgoverlay(); }
}
