// =============================================================================
// Visually Hidden
// =============================================================================

// Visually hides element in browser, but keeps element "visible" in the DOM
// for accessibility purposes.

.u-visuallyHidden {
  // Positioning
  position: absolute !important;

  // Box Model
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;
  clip: rect(0,0,0,0);

  // Visual
  border: 0 !important;
}
