// =============================================================================
// Skill Used
// =============================================================================

.SkillUsed {
  // Box Model
  display: inline-block;
  padding: .6rem 1rem;
  margin-right: ($text-sm * $line-height-base) / 4;
  margin-bottom: ($text-sm * $line-height-base) / 3;

  // Typography
  font-family: $sans-serif-alt;
  font-size: 1rem;
  font-weight: $regular;
  letter-spacing: .15em;
  text-transform: uppercase;

  // Visual
  background-color: $page-color-accent-dark;
  border-radius: $page-border-rad;
}
