// =============================================================================
// Sxn: Who Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Content: width
$who-content-width-md: 58%;
$who-content-width-lg: 65%;





// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Aside: width
// Dependence: content width
$who-aside-width-md: 100% - $who-content-width-md;
$who-aside-width-lg: 100% - $who-content-width-lg;
