// =============================================================================
// Section: Who
// =============================================================================

.SxnWho {
  // Positioning
  position: relative;

  // Theme
  @include sxn-bgtheme-dark();


  // Who Section: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Who Section: aside
// -----------------------------------------------------------------------------

.SxnWho-aside {
  // Positioning
  position: relative;

  // Box Model
  float: left;
  width: 100%;

  // Typography
  font-size: $text-sm * .9;
  color: $page-text-color-dark;

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Box Model
    width: $who-aside-width-md;

    // Typography
    font-size: $text-md * .9;
  }


  @include responsive($screen, 'min-lg') { width: $who-aside-width-lg; }


  @include responsive($screen, 'min-xl') { font-size: $text-lg * .9; }
}





// -----------------------------------------------------------------------------
// Who Section: content
// -----------------------------------------------------------------------------

.SxnWho-content {
  // Positioning
  position: relative;

  // Box Model
  float: left;
  width: 100%;

  // Media Queries
  @include responsive($screen, 'min-md') { width: $who-content-width-md; }


  @include responsive($screen, 'min-lg') { width: $who-content-width-lg; }
}





// -----------------------------------------------------------------------------
// Who Section: img
// -----------------------------------------------------------------------------

.SxnWho-img {
  // Box Model
  width: 55%;
  margin-top: $sxn-pad-vert * 2;
  margin-right: auto;
  margin-left: auto;

  // Visual
  border-radius: 50%;

  // Media Queries
  @include responsive($screen, 'min-sm') { width: 45%; }


  @include responsive($screen, 'min-md') {
    // Box Model
    width: 75%;
    margin-top: 45%;
  }


  @include responsive($screen, 'min-lg') {
    // Box Model
    width: 80%;
    max-width: 300px;
    margin-top: 25%;
    margin-right: 0;
    margin-left: 0;
  }


  @include responsive($screen, 'min-xl') { margin-top: 135px; }
}





// -----------------------------------------------------------------------------
// Who Section: aside
// -----------------------------------------------------------------------------

.SxnWho-asideText {
  // Box Model
  width: 100%;
  margin-top: $text-md * $line-height-base;
  margin-right: auto;
  margin-left: auto;

  // Typography
  text-align: center;

  // Media Queries
  @include responsive($screen, 'min-md') { width: 150px; }


  @include responsive($screen, 'min-lg') {
    // Box Model
    margin-right: 0;
    margin-left: 15%;
  }


  @media #{$screen} and (min-width: 1220px) {
    // Box Model
    width: 300px;
    margin-left: 0;
  }


  @include responsive($screen, 'min-xl') { width: 320px; }
}
