// =============================================================================
// Contact Section
// =============================================================================

.SxnContact {
  // Visual
  background-color: rgb(22,157,121);


  // Section overlay
  // ---------------------------------------------------------------------------

  &::before { @include sxn-bgoverlay(); }
}





// -----------------------------------------------------------------------------
// Contact Section: form
// -----------------------------------------------------------------------------

.SxnContact-form {
  // Box Model
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  // Media Queries
  @include responsive($screen, 'min-md') { width: 500px; }


  @include responsive($screen, 'min-xl') { width: 550px; }
}





// -----------------------------------------------------------------------------
// Contact Section: form message
// -----------------------------------------------------------------------------

.SxnContact-formMsg {
  // Box Model
  width: 100%;
  margin-right: auto;
  margin-left: auto;


  // Contact Section: form message :: data failed to submit
  // ---------------------------------------------------------------------------

  &[data-msg="fail"] {
    // Media Queries
    @media #{$screen} and (min-width: 430px) { width: 330px; }


    @include responsive($screen, 'min-md') { width: 380px; }


    @include responsive($screen, 'min-xl') { width: 430px; }
  }


  // Contact Section: form message :: no message
  // ---------------------------------------------------------------------------

  &[data-msg="none"] { display: none; }


  // Contact Section: form message :: data failed to submit
  // ---------------------------------------------------------------------------

  &[data-msg="success"] {
    // Media Queries
    @media #{$screen} and (min-width: 370px) { width: 280px; }


    @include responsive($screen, 'min-md') { width: 310px; }


    @include responsive($screen, 'min-xl') { width: 350px; }
  }
}





// -----------------------------------------------------------------------------
// Contact Section: form submit
// -----------------------------------------------------------------------------

.SxnContact-formSubmit {
  // Positioning
  position: relative;
  left: 50%;

  // Misc
  @include vendorize(transform, translateX(-50%));
}





// -----------------------------------------------------------------------------
// Contact Section: intro text
// -----------------------------------------------------------------------------

.SxnContact-intro {
  // Box Model
  width: 100%;
  margin-right: auto;
  margin-bottom: $text-sm * $line-height-base;
  margin-left: auto;

  // Typography
  color: $page-text-color;
  text-align: center;

  // Media Queries
  @include responsive($screen, 'min-sm') { width: 490px; }


  @include responsive($screen, 'min-md') {
    // Box Model
    width: 500px;
    margin-bottom: $text-md * $line-height-base;
  }


  @include responsive($screen, 'min-xl') {
    // Box Model
    width: 550px;
    margin-bottom: $text-lg * $line-height-base;
  }
}
