// =============================================================================
// Timeline Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Arrow: height
$timeline-arrow-height: 15px;
$timeline-arrow-height-lg: 20px;
$timeline-arrow-height-print: 3.97mm;


// Arrow: width
$timeline-arrow-width: 20px;
$timeline-arrow-width-lg: 24px;
$timeline-arrow-width-print: 5.3mm;


// Arrow shaft: width
$timeline-arrowshaft-width: 2px;
$timeline-arrowshaft-width-print: .53mm;


// Icon: width
$timeline-icon-width: 40px;
$timeline-icon-width-lg: 56px;
$timeline-icon-width-print: 14.82mm;


// Section arrow: height
$timeline-sxnarrow-height: 30px;
$timeline-sxnarrow-height-lg: 40px;
$timeline-sxnarrow-height-print: 7.94mm;


// Section arrow: width
$timeline-sxnarrow-width: 12px;
$timeline-sxnarrow-width-lg: 17px;
$timeline-sxnarrow-width-print: 3.18mm;





// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Arrow shaft: top position
$timeline-shaft-top-sm: $title-sm * $line-height-base;
$timeline-shaft-top-md: $title-md * $line-height-base;
$timeline-shaft-top-lg: $title-lg * $line-height-base;
$timeline-shaft-top-print: $page-pad-base-print * $line-height-print;


// Arrow: bottom position
$timeline-arrow-bot: $timeline-arrow-height * 3;
$timeline-arrow-bot-print: $timeline-arrow-height-print * 3;


// Section: padding
$timeline-sxn-pad: $text-sm;
$timeline-sxn-pad-lg: $text-lg;
$timeline-sxn-pad-print: $page-pad-base-print;


// Section arrow: padding
$timeline-sxnarrow-pad: $timeline-sxnarrow-width / 2;
$timeline-sxnarrow-pad-lg: $timeline-sxnarrow-width-lg / 2;
$timeline-sxnarrow-pad-print: $timeline-sxnarrow-width-print / 2;
