// =============================================================================
// Timeline Event
// =============================================================================

.TimelineEvent {
  // Positioning
  position: relative;


  // Timeline Event: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Timeline Event: content
// -----------------------------------------------------------------------------

.TimelineEvent-content {
  // Box Model
  width: calc(100% - #{$timeline-icon-width} - #{$timeline-sxnarrow-width}
    - #{$timeline-sxnarrow-pad});
  padding: $timeline-sxn-pad;
  margin-left: calc(#{$timeline-icon-width} + #{$timeline-sxnarrow-width}
    + #{$timeline-sxnarrow-pad});

  // Visual
  background-color: $page-color-main;

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Box Model
    width: calc(100% - #{$timeline-icon-width-lg} - #{$timeline-sxnarrow-width}
      - #{$timeline-sxnarrow-pad});
    margin-left: calc(#{$timeline-icon-width-lg} + #{$timeline-sxnarrow-width}
      + #{$timeline-sxnarrow-pad});
  }


  @include responsive($screen, 'min-lg') {
    // Box Model
    width: calc(50% - (#{$timeline-icon-width-lg} / 2)
      - #{$timeline-sxnarrow-width-lg} - #{$timeline-sxnarrow-pad-lg});
    padding: $timeline-sxn-pad-lg;
    margin-left: 0;
  }



  // Timeline Event: content - arrow
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    top: $timeline-sxn-pad;
    left: calc(#{$timeline-icon-width} + #{$timeline-sxnarrow-pad});

    // Box Model
    width: 0;
    height: 0;

    // Visual
    border-color: transparent $page-color-main transparent transparent;
    border-style: solid;
    border-width: ($timeline-sxnarrow-height / 2) $timeline-sxnarrow-width
      ($timeline-sxnarrow-height / 2) 0;

    // Misc
    content: '';
    box-sizing: border-box;

    // Media Queries
    @include responsive($screen, 'min-md') {
      left: calc(#{$timeline-icon-width-lg} + #{$timeline-sxnarrow-pad});
    }
  }
}



// Timeline Event: content - left aligned
// -----------------------------------------------------------------------------

.TimelineEvent-content--alignLeft {
  // Box Model
  float: left;

  // Misc
  box-shadow: 1px 1px 6px 0px $page-boxshadow;

  // Media Queries
  @include responsive($screen, 'min-lg') {
    box-shadow: -1px 1px 6px 0px $page-boxshadow;
  }


  // Timeline Event: left aligned content - arrow
  // ---------------------------------------------------------------------------

  &::after {
    // Media Queries
    @include responsive($screen, 'min-lg') {
      // Positioning
      left: calc(50% - (#{$timeline-icon-width-lg} / 2)
        - #{$timeline-sxnarrow-width-lg} - #{$timeline-sxnarrow-pad-lg} - 1px);

      // Visual
      border-color: transparent transparent transparent $page-color-main;
      border-width: ($timeline-sxnarrow-height-lg / 2) 0
        ($timeline-sxnarrow-height-lg / 2) $timeline-sxnarrow-width-lg;
    }
  }
}



// Timeline Event: content - right aligned
// -----------------------------------------------------------------------------

.TimelineEvent-content--alignRight {
  // Box Model
  float: right;

  // Misc
  box-shadow: 1px 1px 6px 0px $page-boxshadow;


  // Timeline Event: right aligned content - arrow
  // ---------------------------------------------------------------------------

  &::after {
    // Media Queries
    @include responsive($screen, 'min-lg') {
      // Positioning
      left: calc(50% + (#{$timeline-icon-width-lg} / 2)
        + #{$timeline-sxnarrow-pad-lg});

      // Visual
      border-color: transparent $page-color-main transparent transparent;
      border-width: ($timeline-sxnarrow-height-lg / 2)
        $timeline-sxnarrow-width-lg ($timeline-sxnarrow-height-lg / 2) 0;
    }
  }
}





// -----------------------------------------------------------------------------
// Timeline Event: date
// -----------------------------------------------------------------------------

.TimelineEvent-date {
  // Box Model
  margin-top: $text-sm;

  // Typography
  font-family: $sans-serif;
  letter-spacing: normal;
  color: $page-color-secondary;
  text-transform: uppercase;

  // Media Queries
  @include responsive($screen, 'min-md') { margin-top: $text-md; }


  @include responsive($screen, 'min-lg') {
    // Box Model
    width: calc(50% - (#{$timeline-icon-width-lg} / 2)
      - #{$timeline-sxnarrow-width-lg} - #{$timeline-sxnarrow-pad-lg});
    padding: $timeline-sxn-pad-lg 0;
    margin-top: 0;
  }
}



// Timeline Event: date - left aligned
// -----------------------------------------------------------------------------

.TimelineEvent-date--alignLeft {
  // Positioning
  position: relative;

  // Typography
  text-align: left;

  // Media Queries
  @include responsive($screen, 'min-lg') {
    // Positioning
    position: absolute;
    top: 0;
    left: 0;

    // Typography
    text-align: right;
  }
}



// Timeline Event: date - right aligned
// -----------------------------------------------------------------------------

.TimelineEvent-date--alignRight {
  // Positioning
  position: relative;

  // Media Queries
  @include responsive($screen, 'min-lg') {
    // Positioning
    position: absolute;
    top: 0;
    left: calc(50% + (#{$timeline-icon-width-lg} / 2)
      + #{$timeline-sxnarrow-width-lg} + #{$timeline-sxnarrow-pad-lg});
  }
}





// -----------------------------------------------------------------------------
// Timeline Event: header
// -----------------------------------------------------------------------------

.TimelineEvent-header {
  // Box Model
  margin-bottom: $text-sm;

  // Media Queries
  @include responsive($screen, 'min-md') { margin-bottom: $text-md; }


  @include responsive($screen, 'min-xl') { margin-bottom: $text-lg; }
}





// -----------------------------------------------------------------------------
// Timeline Event: icon
// -----------------------------------------------------------------------------

.TimelineEvent-icon {
  // Positioning
  position: absolute;
  top: $timeline-sxn-pad - $timeline-sxnarrow-pad;
  left: 0;

  // Box Model
  width: $timeline-icon-width;
  height: $timeline-icon-width;

  // Visual
  background-color: $page-bgcolor-light;
  border-radius: 50%;

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Positioning
    top: 0;

    // Box Model
    width: $timeline-icon-width-lg;
    height: $timeline-icon-width-lg;
  }


  @include responsive($screen, 'min-lg') {
    // Positioning
    top: $timeline-sxnarrow-pad-lg;
    left: calc(50% - (#{$timeline-icon-width-lg} / 2));
  }
}





// -----------------------------------------------------------------------------
// Timeline Event: image
// -----------------------------------------------------------------------------

.TimelineEvent-img {
  // Positioning
  position: absolute;

  // Box Model
  width: 55%;
  margin-top: 50%;
  margin-left: 50%;

  // Misc
  @include vendorize(transform, translate3d(-50%,-50%,0));
}





// -----------------------------------------------------------------------------
// Timeline Event: text
// -----------------------------------------------------------------------------

.TimelineEvent-text {
  // Box Model
  margin-bottom: $text-sm;

  // Media Queries
  @include responsive($screen, 'min-md') { margin-bottom: $text-md; }


  @include responsive($screen, 'min-xl') { margin-bottom: $text-lg; }
}



// Timeline Event: text - highlighted
// -----------------------------------------------------------------------------

.TimelineEvent-text--highlight { color: $page-text-color-accent; }
