// =============================================================================
// Section: Where
// =============================================================================

.SxnWhere { @include sxn-bgtheme-light(); }





// -----------------------------------------------------------------------------
// Where Section: content
// -----------------------------------------------------------------------------

.SxnWhere-content {
  // Positioning
  position: relative;


  // Where Section: content - arrow shaft
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    top: $timeline-shaft-top-sm * 2;
    left: ($timeline-icon-width / 2) - ($timeline-arrowshaft-width / 2);

    // Box Model
    width: $timeline-arrowshaft-width;
    height: calc(100% - (#{$timeline-shaft-top-sm} * 2));

    // Visual
    background-color: $page-title-color-dark;

    // Misc
    content: '';
    box-sizing: border-box;

    // Media Queries
    @media #{$screen} and (min-width: 397px) {
      // Positioning
      top: $timeline-shaft-top-sm;

      // Box Model
      height: calc(100% - #{$timeline-shaft-top-sm});
    }


    @include responsive($screen, 'min-sm') {
      // Positioning
      top: $timeline-shaft-top-sm;

      // Box Model
      height: calc(100% - #{$timeline-shaft-top-sm});
    }


    @include responsive($screen, 'min-md') {
      // Positioning
      top: $timeline-shaft-top-md;
      left: ($timeline-icon-width-lg / 2) - ($timeline-arrowshaft-width / 2);

      // Box Model
      height: calc(100% - #{$timeline-shaft-top-md});
    }


    @include responsive($screen, 'min-lg') {
      // Positioning
      left: calc(50% - (#{$timeline-arrowshaft-width} / 2));

      // Box Model
      height: calc(100% - (#{$timeline-shaft-top-md} / 2));
    }


    @include responsive($screen, 'min-xl') {
      // Positioning
      top: $timeline-shaft-top-lg;

      // Box Model
      height: calc(100% - #{$timeline-shaft-top-lg}
        - (#{$timeline-arrow-height-lg} / 2) + #{$timeline-arrow-bot});
    }
  }



  // Where Section: content - arrow head
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    bottom: -($timeline-arrow-height);
    left: ($timeline-icon-width / 2) - ($timeline-arrow-width / 2);

    // Box Model
    width: 0;
    height: 0;

    // Visual
    border-color: $page-title-color-dark transparent transparent;
    border-style: solid;
    border-width: $timeline-arrow-height ($timeline-arrow-width / 2) 0;

    // Misc
    content: '';
    box-sizing: border-box;

    // Media Queries
    @include responsive($screen, 'min-md') {
      left: ($timeline-icon-width-lg / 2) - ($timeline-arrow-width / 2);
    }


    @include responsive($screen, 'min-lg') {
      // Positioning
      bottom: -($timeline-arrow-bot);
      left: calc(50% - (#{$timeline-arrow-width-lg} / 2));

      // Visual
      border-width: $timeline-arrow-height-lg ($timeline-arrow-width-lg / 2) 0;
    }
  }
}





// -----------------------------------------------------------------------------
// Where Section: timeline event
// -----------------------------------------------------------------------------

.SxnWhere-timelineEvent {
  // Positioning
  position: relative;

  // Box Model
  display: block;
  margin-bottom: $sxn-pad-vert / 2;
}



// Where Section: timeline event - last event
// -----------------------------------------------------------------------------

.SxnWhere-timelineEvent--last { margin-bottom: 0; }
