// =============================================================================
// Skill Set Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Soft skill: text
$skillset-softskill-text: $text-sm * .82;
$skillset-softskill-text-print: $font-size-base-print * .85;


// Chart: width
$skillset-chart-width: 48%;


// Group: width
$skillset-group-width: 49%;


// Hard (skills): width
$skillset-hard-width-lg: 70%;


// Soft skill: width
$skillset-softskill-width: 100px;
$skillset-softskill-width-print: 27.52mm;


// Soft skill: margin offset
$skillset-softskill-margin-offset: 4px;
$skillset-softskill-margin-offset-print: 1.06mm;





// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Chart: margin
// Dependence: chart width
$skillset-chart-margin: 50% - $skillset-chart-width;


// Group: margin
// Dependence: group width
$skillset-group-margin: 50% - $skillset-group-width;


// Soft (skills): width
// Dependence: hard skill width
$skillset-soft-width-lg: 100% - $skillset-hard-width-lg;


// Soft skill: border radius
// Dependence: soft skill width
$skillset-softskill-border-rad: $skillset-softskill-width / 2;
$skillset-softskill-border-rad-print: $skillset-softskill-width-print / 2;


// Soft skill: height
// Dependence: soft skill width
$skillset-softskill-height: $skillset-softskill-width;
$skillset-softskill-height-print: $skillset-softskill-width-print;


// Soft skill: margin
// Dependence: soft skill line height, soft skill text
$skillset-softskill-margin: $skillset-softskill-text * $line-height-base;
$skillset-softskill-margin-print: $skillset-softskill-text-print
  * $line-height-print;


// Soft skill: (double) width
// Dependence: soft skill width and margin
$skillset-softskill-width-dbl: ($skillset-softskill-width * 2)
  + $skillset-softskill-margin + $skillset-softskill-margin-offset;

$skillset-softskill-width-dbl-wider: ($skillset-softskill-width * 2)
  + ($skillset-softskill-margin * 3) + $skillset-softskill-margin-offset;


$skillset-softskill-width-dbl-print: ($skillset-softskill-width-print * 2)
  + $skillset-softskill-margin-print + $skillset-softskill-margin-offset-print;
