// =============================================================================
// Skill Set
// =============================================================================

.SkillSet {
  // Box Model
  @include sxn-pad();

  // Theme
  @include sxn-bgtheme-light();


  // Skill Set: section float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Skill Set: chart
// -----------------------------------------------------------------------------

.SkillSet-chart {
  // Positioning
  position: relative;

  // Box Model
  float: left;
  width: 100%;
  margin-bottom: $skillset-chart-margin * 4;

  // Typography
  font-weight: $regular;

  // Media Queries
  @include responsive($screen, 'min-md') { width: $skillset-chart-width; }


  @include responsive($screen, 'min-lg') { margin-bottom: 0; }
}



// Skill Set: chart - top
// -----------------------------------------------------------------------------

.SkillSet-chart--top {
  @include responsive($screen, 'min-md') {
    margin-bottom: $skillset-chart-margin;
  }
}



// Skill Set: chart - bottom
// -----------------------------------------------------------------------------

.SkillSet-chart--bot {
  // Box Model
  margin-top: 0;

  // Media Queries
  @include responsive($screen, 'min-md') { margin-top: $skillset-chart-margin; }
}



// Skill Set: chart - odd numbered
// -----------------------------------------------------------------------------

.SkillSet-chart--odd {
  // Box Model
  margin-right: 0;

  // Media Queries
  @include responsive($screen, 'min-md') {
    margin-right: $skillset-chart-margin;
  }
}



// Skill Set: chart - even numbered
// -----------------------------------------------------------------------------

.SkillSet-chart--even {
  // Box Model
  margin-left: 0;

  // Media Queries
  @include responsive($screen, 'min-md') {
    margin-left: $skillset-chart-margin;
  }
}





// -----------------------------------------------------------------------------
// Skill Set: chart content
// -----------------------------------------------------------------------------

.SkillSet-chartContent { display: block; }





// -----------------------------------------------------------------------------
// Skill Set: group
// -----------------------------------------------------------------------------

.SkillSet-group {
  // Box Model
  float: left;
  width: $skillset-group-width;
}



// Skill Set: soft skill set - left set
// -----------------------------------------------------------------------------

.SkillSet-group--left { margin-right: $skillset-group-margin; }



// Skill Set: soft skill set - right set
// -----------------------------------------------------------------------------

.SkillSet-group--right { margin-left: $skillset-group-margin; }





// -----------------------------------------------------------------------------
// Skill Set: hard skills
// -----------------------------------------------------------------------------

.SkillSet-hard {
  // Positioning
  position: relative;

  // Box Model
  float: left;
  width: 100%;

  // Media Queries
  @include responsive($screen, 'min-lg') { width: $skillset-hard-width-lg; }


  // Hard skills set: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Skill Set: legend
// -----------------------------------------------------------------------------

.SkillSet-legend {
  // Box Model
  margin-top: $text-sm * $line-height-base;

  // Typography
  color: $page-text-color-dark;
}





// -----------------------------------------------------------------------------
// Skill Set: skills
// -----------------------------------------------------------------------------

.SkillSet-skills { @include clear('', block); }





// -----------------------------------------------------------------------------
// Skill Set: soft skills
// -----------------------------------------------------------------------------

.SkillSet-soft {
  // Positioning
  position: relative;

  // Box Model
  float: left;
  width: 100%;
  margin-top: $text-sm * $line-height-base;

  // Media Queries
  @include responsive($screen, 'min-lg') {
    // Box Model
    width: $skillset-soft-width-lg;
    margin-top: 0;
  }


  // Soft skills set: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Skill Set: soft skill set
// -----------------------------------------------------------------------------

.SkillSet-softSkills {
  // Box Model
  width: $skillset-softskill-width;
  margin-right: auto;  // horz center align
  margin-left: auto;  // horz center align

  // Media Queries
  @include responsive($screen, 'min-sm') {
    width: $skillset-softskill-width-dbl;
  }


  @include responsive($screen, 'min-md') {
    width: $skillset-softskill-width-dbl-wider;
  }


  @include responsive($screen, 'min-lg') { width: $skillset-softskill-width; }
}





// -----------------------------------------------------------------------------
// Skill Set: soft skill
// -----------------------------------------------------------------------------

.SkillSet-softSkill {
  // Box Model
  display: inline-block;
  width: $skillset-softskill-width;
  height: $skillset-softskill-height;
  padding-right: 8px;
  padding-left: 8px;
  margin-bottom: $skillset-softskill-margin;
  margin-left: 0;

  // Typography
  line-height: $skillset-softskill-height;
  color: $page-text-color;
  text-align: center;

  // Visual
  background-color: $page-bgcolor-secondary;
  border-radius: $skillset-softskill-border-rad;

  // Media Queries
  @include responsive($screen, 'min-sm') {
    margin-left: $skillset-softskill-margin / 3;
  }


  @include responsive($screen, 'min-md') {
    margin-left: $skillset-softskill-margin;
  }


  @include responsive($screen, 'min-lg') { margin-left: 0; }
}





// -----------------------------------------------------------------------------
// Skill Set: soft skill - last skill
// -----------------------------------------------------------------------------

.SkillSet-softSkill--lastSkill { margin-bottom: 0; }





// -----------------------------------------------------------------------------
// Skill Set: soft skill text
// -----------------------------------------------------------------------------

.SkillSet-softSkillText {
  // Box Model
  display: inline-block;

  // Typography
  font-size: $skillset-softskill-text;
  line-height: $line-height-base;
  vertical-align: middle;
}





// -----------------------------------------------------------------------------
// Skill Set: title
// -----------------------------------------------------------------------------

.SkillSet-title {
  // Box Model
  margin-bottom: $text-sm;

  // Typography
  color: $page-text-color-accent-dark;
}





// Skill Set: title - centered
// -----------------------------------------------------------------------------

.SkillSet-title--center { text-align: center; }





// Skill Set: title - color flipped
// -----------------------------------------------------------------------------

.SkillSet-title--colorReverse { color: $page-title-color-dark; }
