// =============================================================================
// Section: Resume
// =============================================================================

.SxnResume {
  // Positioning
  position: relative;

  // Box Model
  min-height: 101vh;
  padding: $sxn-pad-vert $page-pad-horz-md ($sxn-pad-vert * 1.5);

  // Theme
  @include sxn-bgtheme-light();


  // Resume Section: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Resume Section: go back to site
// -----------------------------------------------------------------------------

.SxnResume-backToSite {
  // Positioning
  position: absolute;
  // left: 50%;
  bottom: ($sxn-pad-vert / 6);

  // Typography
  text-align: center;
  width: 100%;

  // Misc
  // @include vendorize(transform, translateX(-50%));

  // Media Queries
  @include responsive($screen, 'min-sm') { bottom: ($sxn-pad-vert / 4); }


  @include responsive($screen, 'min-lg') { bottom: ($sxn-pad-vert / 1.5); }
}





// -----------------------------------------------------------------------------
// Resume Section: go back to site link
// -----------------------------------------------------------------------------

.SxnResume-backToSiteLink { position: relative; }





// -----------------------------------------------------------------------------
// Resume Section: buttons
// -----------------------------------------------------------------------------

.SxnResume-btns {
  // Positioning
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: ($page-zindex-overlay + 1);

  // Misc
  opacity: 0;
  @include vendorize(transform, translate3d(-50%, -50%, 0));

  // Media Queries
  @media #{$screen} and (min-width: 550px) {
    top: calc(50% - (#{$btn-height-xl} / 2));
  }


  @include responsive($screen, 'min-lg') { top: 50%; }


  @media #{$screen} and (min-width: 1050px) {
    top: calc(50% - (#{$btn-height-xl} / 2));
  }
}





// -----------------------------------------------------------------------------
// Resume Section: button
// -----------------------------------------------------------------------------

.SxnResume-btn {
  // Box Model
  display: block;
  padding: $btn-pad-vert-lg $btn-pad-horz-lg;
  margin-right: 0;
  margin-bottom: $text-lg * $line-height-sm;

  // Typography
  font-size: $btn-text-lg;

  // Media Queries
  @media #{$screen} and (min-width: 550px) {
    // Box Model
    display: inline-block;
    margin-right: $text-lg * $line-height-sm;
    margin-bottom: 0;
  }


  @include responsive($screen, 'min-lg') {
    // Box Model
    display: block;
    margin-right: 0;
    margin-bottom: $text-lg * $line-height-sm;
  }


  @media #{$screen} and (min-width: 1050px) {
    // Box Model
    display: inline-block;
    margin-right: $text-lg * $line-height-sm;
    margin-bottom: 0;
  }



  // Resume Section: button :: hover and active
  // ---------------------------------------------------------------------------

  &[aria-disabled="false"]:hover,
  &[aria-disabled="false"]:active {
    color: $page-text-color-dark;
  }
}



// Resume Section: button - last
// -----------------------------------------------------------------------------

.SxnResume-btn--last { margin-right: 0; }




// -----------------------------------------------------------------------------
// Resume Section: content
// -----------------------------------------------------------------------------

.SxnResume-content {
  // Positioning
  position: relative;

  // Box Model
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  // Misc
  box-shadow: 0px 0px 6px 0px $page-boxshadow;


  // Resume Section: content float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);


  // Resume Section: content :: overlay
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    top: 0;
    left: 0;
    z-index: $page-zindex-overlay;

    // Box Model
    width: 100%;
    height: 100%;

    // Visual
    background-color: rgba(0,0,0,1);
    content: '';

    // Misc
    opacity: 0;
    @include vendorize(transition, .5s ease);
    box-sizing: border-box;
  }


  // Resume Section: content :: hover
  // ---------------------------------------------------------------------------

  &:hover {

    // Resume Section: content :: overlay hover
    // -------------------------------------------------------------------------

    &::after { opacity: .7; }


    // Resume Section: content :: hover buttons
    // -------------------------------------------------------------------------

    & .SxnResume-btns { opacity: 1; }
  }
}





// -----------------------------------------------------------------------------
// Resume Section: content banner
// -----------------------------------------------------------------------------

.SxnResume-contentBanner {
  // Positioning
  position: absolute;
  top: ($text-sm * .6) * $line-height-base;
  left: 50%;
  z-index: ($page-zindex-overlay - 1);

  // Box Model
  width: 100%;
  padding: .6rem 1rem;

  // Typography
  font-size: $text-sm * .85;
  text-align: center;

  // Visual
  background-color: $page-color-main;

  // Misc
  @include vendorize(transform, translatex(-50%));

  // Media Queries
  @include responsive($screen, 'min-sm') {
    // Positioning
    top: ($text-sm * .9) * $line-height-base;

    // Typography
    font-size: $text-sm * .9;
  }
}





// -----------------------------------------------------------------------------
// Resume Section: content banner text
// -----------------------------------------------------------------------------

.SxnResume-contentBannerText {
  // Box Model
  display: inline-block;
  max-width: 400px;
}





// -----------------------------------------------------------------------------
// Resume Section: section
// -----------------------------------------------------------------------------

.SxnResume-sxn {
  // Positioning
  position: relative;

  // Box Model
  float: left;
  width: 100%;
  margin-bottom: $text-lg * $line-height-base;

  // Media Queries
  @include responsive($screen, 'min-md') {
    margin-bottom: $text-lg * $line-height-base * 2;
  }


  @include responsive($screen, 'min-lg') {
    // Box Model
    width: 50%;
    margin-bottom: 0;
  }
}



// Resume Section: section
// -----------------------------------------------------------------------------

.SxnResume-sxn--last { margin-bottom: 0; }




// -----------------------------------------------------------------------------
// Resume Section: text slanted
// -----------------------------------------------------------------------------

.SxnResume-textSlant { font-style: italic; }




// -----------------------------------------------------------------------------
// Resume Section: Sub-title
// -----------------------------------------------------------------------------

.SxnResume-titleSub {
  // Box Model
  display: block;

  // Typography
  font-size: $text-md;
  font-weight: 300;
  text-transform: none;
}
