// =============================================================================
// Sxn Variables
// =============================================================================

// Padding: vertical
$sxn-pad-vert: 7.5%;
$sxn-pad-vert-print: 3.5%;


// Border: width
$sxn-border-width: 1px;


// Z-index
$sxn-zindex: 1;
