// =============================================================================
// Sections
// =============================================================================

.Sxn {
  // Position
  position: relative;

  // Box Model
  display: block;
  overflow: hidden;
}



// Section - horizontal padding
// -----------------------------------------------------------------------------

.Sxn--padHorz { @include sxn-pad(); }





// -----------------------------------------------------------------------------
// Section: Content
// -----------------------------------------------------------------------------

.Sxn-content {
  // Positioning
  position: relative;

  // Box Model
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;


  // Secton: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}
