// =============================================================================
// Sxn: Why Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Arrow: width
$why-arrow-width: $page-btn-border-width;
$why-arrow-width-print: $page-btn-border-width-print;


// Section: text
$why-sxn-text-md: $text-md;
$why-sxn-text-lg: $text-lg;
$why-sxn-text-print-mm: $text-print-mm;
$why-sxn-text-vert-md: ($why-sxn-text-md * $line-height-base);
$why-sxn-text-vert-lg: ($why-sxn-text-lg * $line-height-base);
$why-sxn-text-vert-print-mm: ($why-sxn-text-print-mm * $line-height-base);


// Section: title
$why-sxn-title-md: $why-sxn-text-md;
$why-sxn-title-lg: $why-sxn-text-lg;
$why-sxn-title-print-mm: $why-sxn-text-print-mm;
$why-sxn-title-vert-md: ($why-sxn-title-md * $line-height-sm);
$why-sxn-title-vert-lg: ($why-sxn-title-lg * $line-height-sm);
$why-sxn-title-vert-print-mm: $why-sxn-text-vert-print-mm;


// Section: title margin
$why-sxn-title-margin-md: $title-md;
$why-sxn-title-margin-lg: $title-lg;
$why-sxn-title-margin-print: $why-sxn-title-print-mm;


// Section: width
$why-sxn-width: 30%;
$why-sxn-width-lg: 92%;


// Section: padding
$why-sxn-pad: $text-lg * 1.2;
$why-sxn-pad-vert: $why-sxn-pad;
$why-sxn-pad-print: $page-pad-base-print;


// Section: margin
$why-sxn-margin: $text-lg * $line-height-base;
$why-sxn-margin-print: $why-sxn-title-print-mm * $line-height-base;





// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Arrow: height
// Dependence: section-margin
$why-sxn-arrow-height: ($why-sxn-margin * 2);
$why-sxn-arrow-height-print: ($why-sxn-margin-print * 2);


  // Section arrow: top
  // Dependence: section pad-print
  $why-sxn-arrow-top-print: ($line-height-print * ($title-print-mm
    + ($text-print-mm * 6))) + $why-sxn-pad-print;


// Section arrow: length
// Dependence: section width-lg
$why-sxn-arrow-length: 100% - $why-sxn-width-lg;
