// =============================================================================
// Section: Why
// =============================================================================

.SxnWhy {
  // Theme
  @include sxn-bgtheme-dark();


  // Why Section: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Why Section: intro
// -----------------------------------------------------------------------------

.SxnWhy-intro {
  // Box Model
  width: 100%;
  margin-bottom: $text-sm * $line-height-base * 1.5;
  margin-left: 0;

  // Typography
  color: $page-text-color-dark;

  // Media Queries
  @include responsive($screen, 'min-md') {
    margin-bottom: $text-md * $line-height-base * 2;
  }


  @include responsive($screen, 'min-lg') {
    // Box Model
    width: 810px;
    margin-right: auto;
    margin-left: auto;

    // Typography
    text-align: center;
  }


  @include responsive($screen, 'min-xl') {
    // Box Model
    width: 900px;
    margin-bottom: $text-lg * $line-height-base * 2;
  }
}





// -----------------------------------------------------------------------------
// Why Section: section
// -----------------------------------------------------------------------------

.SxnWhy-sxns {
  // Positioning
  position: relative;

  // Box Model
  height: auto;

  // Media Queries
  @include responsive($screen, 'min-lg') {
    height: $why-sxn-pad-vert + ($why-sxn-title-vert-md * 2)
      + $why-sxn-title-margin-md + ($why-sxn-text-vert-md * 7);
  }


  @media #{$screen} and (min-width: 1050px) {
    height: $why-sxn-pad-vert + ($why-sxn-title-vert-md * 2)
      + $why-sxn-title-margin-md + ($why-sxn-text-vert-md * 6);
  }


  @media #{$screen} and (min-width: 1110px) {
    height: $why-sxn-pad-vert + ($why-sxn-title-vert-md)
      + $why-sxn-title-margin-md + ($why-sxn-text-vert-md * 6);
  }


  @media #{$screen} and (min-width: 1245px) {
    height: $why-sxn-pad-vert + ($why-sxn-title-vert-md)
      + $why-sxn-title-margin-md + ($why-sxn-text-vert-md * 5);
  }


  @include responsive($screen, 'min-xl') {
    height: $why-sxn-pad-vert + ($why-sxn-title-vert-lg)
      + $why-sxn-title-margin-lg + ($why-sxn-text-vert-md * 6);
  }


  @media #{$screen} and (min-width: 1355px) {
    height: $why-sxn-pad-vert + ($why-sxn-title-vert-lg)
      + $why-sxn-title-margin-lg + ($why-sxn-text-vert-lg * 5);
  }


  // Why Section: sections float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Why Section: section
// -----------------------------------------------------------------------------

.SxnWhy-sxn {
  // Positioning
  float: left;

  // Box Model
  width: $why-sxn-width-lg;
  height: auto;
  padding: $why-sxn-pad;
  margin-bottom: $text-sm * $line-height-base;
  margin-left: $why-sxn-arrow-length;

  // VIsual
  border: $page-btn-border-width solid $page-border-color;
  border-radius: $page-border-rad;

  // Media Queries
  @include responsive($screen, 'min-lg') {
    // Box Model
    width: $why-sxn-width;
    height: 100%;
    margin-bottom: ($why-sxn-margin * 2);
  }


  // Why Section: horizontal line extending from section
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    left: ($page-arrow-pos-left / 2) - ($why-arrow-width / 2);

    // Box Model
    width: calc(#{$why-sxn-arrow-length} + (#{$why-arrow-width} / 2)
      - (#{$page-arrow-pos-left} / 2));
    height: $why-arrow-width;

    // Visual
    background-color: $page-border-color;

    // Misc
    content: '';

    // Media Queries
    @include responsive($screen, 'min-lg') {
      // Positioning
      top: 100%;

      // Box Model
      width: $why-arrow-width;
      height: $why-sxn-arrow-height;
    }
  }
}



// Why Section: first section
// -----------------------------------------------------------------------------

.SxnWhy-sxn--1st {
  // Box Model
  margin-right: 0;

  // Media Queries
  @include responsive($screen, 'min-lg') {
    // Box Model
    margin-right: 3%;
    margin-left: 0;
  }


  // Why Section: horizontal line extending from section
  // ---------------------------------------------------------------------------

  &::before {
    @include responsive($screen, 'min-lg') {
      left: calc(#{$why-sxn-width} / 2);
    }
  }
}



// Why Section: second section
// -----------------------------------------------------------------------------

.SxnWhy-sxn--2nd {
  // Box Model
  margin-right: 0;

  // Media Queries
  @include responsive($screen, 'min-lg') {
    // Box Model
    margin-right: 2%;
    margin-left: 2%;
  }


  // Why Section: horizontal line extending from section
  // ---------------------------------------------------------------------------

  &::before {
    // Media Queries
    @include responsive($screen, 'min-lg') {
      // Positioning
      left: calc(50% - (#{$why-arrow-width} / 2));

      // Box Model
      height: calc((#{$why-sxn-arrow-height} * 2)
        - (#{$page-arrow-height} * 1.5));
    }
  }
}



// Why Section: third section
// -----------------------------------------------------------------------------

.SxnWhy-sxn--3rd {
  // Media Queries
  @include responsive($screen, 'min-lg') { margin-left: 3%; }


  // Why Section: horizontal line extending from section
  // ---------------------------------------------------------------------------

  &::before {
    @include responsive($screen, 'min-lg') {
      left: calc((100% - (#{$why-sxn-width} / 2) - #{$why-arrow-width});
    }
  }
}



// Why Section: last section
// -----------------------------------------------------------------------------

.SxnWhy-sxn--last {
  // Box Model
  width: 100%;
  margin-top: $text-sm * $line-height-base;
  margin-left: 0;

  // Media Queries
  @include responsive($screen, 'min-lg') {
    // Box Model
    margin-top: ($why-sxn-margin * 2);

    // Typography
    text-align: center;
  }


  // Why Section: (no) horizontal line extending from section
  // ---------------------------------------------------------------------------

  &::before { display: none; }
}





// -----------------------------------------------------------------------------
// Why Section: section text
// -----------------------------------------------------------------------------

.SxnWhy-sxnText {
  // Box Model
  max-height: auto;
  overflow-y: visible;

  // Media Queries
  @include responsive($screen, 'min-lg') {
    // Box Model
    max-height: 185px;
    overflow-y: auto;
  }


  @media #{$screen} and (min-width: 1045px) { max-height: 160px; }


  @media #{$screen} and (min-width: 1235px) { max-height: 130px; }


  @include responsive($screen, 'min-xl') { max-height: 170px; }


  @media #{$screen} and (min-width: 1350px) { max-height: 140px; }
}





// -----------------------------------------------------------------------------
// Why Section: arrow connecting sections
// -----------------------------------------------------------------------------

.SxnWhy-sxnsArrow {
  // Positioning
  position: relative;


  // Why Section: arrow shaft connecting all sections
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    top: ($why-sxn-pad + $why-arrow-width);
    left: ($page-arrow-pos-left / 2) - ($why-arrow-width / 2);

    // Box Model
    width: $why-arrow-width;
    height: calc(100% - #{$why-sxn-pad});

    // Visual
    background-color: $page-border-color;

    // Misc
    content: '';

    // Media Queries
    @include responsive($screen, 'min-lg') {
      // Positioning
      top: calc(100% + #{$why-sxn-arrow-height});
      left: calc(#{$why-sxn-width} / 2);

      // Box Model
      width: calc(100% - #{$why-sxn-width});
      height: $why-arrow-width;
    }
  }


  // Why Section: arrow pointing to the last section
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    top: 100%;
    left: 0;

    // Box Model
    width: 0;
    height: 0;

    // Visual
    border-color: $page-border-color transparent transparent;
    border-style: solid;
    border-width: $page-arrow-height ($page-arrow-pos-left / 2) 0;

    // Misc
    content: '';

    // Media Queries
    @include responsive($screen, 'min-lg') {
      // Positioning
      top: calc(100% + (#{$why-sxn-arrow-height} * 2)
        - (#{$page-arrow-height} * 2));
      left: calc(50% - (#{$page-arrow-pos-left} / 2));
    }
  }
}





// -----------------------------------------------------------------------------
// Why Section: section title
// -----------------------------------------------------------------------------

.SxnWhy-sxnTitle {
  // Box Model
  margin-bottom: $text-sm;

  // Typography
  font-size: $text-sm;
  font-weight: $semibold;

  // Media Queries
  @include responsive($screen, 'min-lg') {
    // Box Model
    margin-bottom: $text-md;

    // Typography
    font-size: $text-md;
  }


  @include responsive($screen, 'min-xl') {
    // Box Model
    margin-bottom: $text-lg;

    // Typography
    font-size: $text-lg;
  }
}



// Why Section: section title - reduced
// -----------------------------------------------------------------------------

.SxnWhy-sxnTitle--reduced {
  // Typography
  font-size: 12px;
  font-style: italic;
  font-weight: $light;
  line-height: 1;
  vertical-align: middle;
}



// Why Section: last section title
// -----------------------------------------------------------------------------

.SxnWhy-sxnTitle--last {
  // Typography
  color: $page-text-color-accent;
  text-align: left;

  // Media Queries
  @include responsive($screen, 'min-lg') { text-align: center; }
}
