// =============================================================================
// Polaroid Project Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

$projects-projpolaroid-margin-offset: 5.5%;




// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Margin
$projects-projpolaroid-margin: 50% - $projpolaroid-width
  - $projects-projpolaroid-margin-offset;

$projects-projpolaroid-margin-lg: 50% - $projpolaroid-width-lg;

$projects-projpolaroid-margin-print: 50% - $projpolaroid-width-print;
