// =============================================================================
// Projects
// =============================================================================

.Projects {
  // Positioning
  position: relative;

  // Box Model
  @include sxn-pad();


  // Projects: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}



// Projects - program
// -----------------------------------------------------------------------------

.Projects--program { @include sxn-bgtheme-light(); }



// Projects - web
// -----------------------------------------------------------------------------

.Projects--web { @include sxn-bgtheme-dark(); }





// -----------------------------------------------------------------------------
// Projects: Project Polaroid
// -----------------------------------------------------------------------------

.Projects-projPolaroid {
  // Box Model
  float: left;
  margin-top: $sxn-pad-vert / 2;
  margin-right: 0;
  margin-bottom: $sxn-pad-vert / 2;
  margin-left: 0;
}



// Projects: Project Polaroid - even numbered project
// -----------------------------------------------------------------------------

.Projects-projPolaroid--even {
  // Media Queries
  @include responsive($screen, 'min-md') {
    margin-left: $projects-projpolaroid-margin-lg;
  }


  @media #{$screen} and (min-width: 1040px) {
    // Box Model
    margin-right: $projects-projpolaroid-margin-offset;
    margin-left: $projects-projpolaroid-margin;
  }
}



// Projects: Project Polaroid - Odd numbered project
// -----------------------------------------------------------------------------

.Projects-projPolaroid--odd {
  // Media Queries
  @include responsive($screen, 'min-md') {
    margin-right: $projects-projpolaroid-margin-lg;
  }


  @media #{$screen} and (min-width: 1040px) {
    // Box Model
    margin-right: $projects-projpolaroid-margin;
    margin-left: $projects-projpolaroid-margin-offset;
  }
}



// Projects: Project Polaroid - first numbered project
// -----------------------------------------------------------------------------

.Projects-projPolaroid--first {
  @include responsive($screen, 'min-md') { margin-top: 0; }
}



// Projects: Project Polaroid - last numbered project
// -----------------------------------------------------------------------------

.Projects-projPolaroid--last {
  @include responsive($screen, 'min-md') { margin-bottom: 0; }
}
