// =============================================================================
// Tooltip Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// text
$tooltip-text: $text-sm;

// arrow: height
$tooltip-arrow-height: ($page-arrow-height / 1.5);





// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Dependence: arrow height
$tooltip-arrow-width: $tooltip-arrow-height;
