// =============================================================================
// Tooltip
// =============================================================================

.Tooltip {
  // Positioning
  position: relative;


  // Tooltip :: focus and hover tooltip text
  // ---------------------------------------------------------------------------

  &:focus .Tooltip-text,
  &:hover .Tooltip-text {
    // Misc
    opacity: 1;
    visibility: visible;
  }
}





// -----------------------------------------------------------------------------
// Tooltip: text
// -----------------------------------------------------------------------------

.Tooltip-text {
  // Positioning
  position: absolute;

  // Box Model
  display: inline-block;
  padding: ($tooltip-text * .1) ($tooltip-text * .4);

  // Typography
  font-family: $serif;
  font-size: $tooltip-text;
  font-weight: $regular;
  color: $page-text-color-accent-dark;

  // Visual
  background-color: $page-text-color-accent;
  border-radius: $page-border-rad;

  // Misc
  opacity: 0;
  visibility: hidden;
  @include vendorize(transition, opacity 360ms);
}



// Tooltip: text - positioned top right
// -----------------------------------------------------------------------------

.Tooltip-text--topRight {
  // Positioning
  top: 0;
  right: 0;


  // Tooltip: text :: arrow
  // -----------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    bottom: -($tooltip-arrow-height);
    right: $tooltip-arrow-width;

    // Box Model
    width: 0;
    height: 0;

    // Visual
    border-color: $page-text-color-accent transparent transparent;
    border-style: solid;
    border-width: $tooltip-arrow-height $tooltip-arrow-width 0;

    // Misc
    content: '';
    box-sizing: border-box;
  }
}
