// =============================================================================
// Legend Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Item: text
$legend-item-text: $text-sm * .82;
$legend-item-text-print: $text-print;
$legend-item-text-print-mm: $text-print-mm;


// Item: line height
$legend-item-lineheight: $line-height-sm;


// Item: border
$legend-item-border-width: 1px;
$legend-item-border-width-print: $page-border-width-print;


// Item: width
$legend-item-width: 48%;
$legend-item-width-sm: 23.5%;


// Item: margin
$legend-item-margin: 4%;
$legend-item-margin-sm: 2%;
$legend-item-margin-top: $text-sm * $line-height-base;
$legend-item-margin-top-print: $text-print-mm * $line-height-base;





// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------



// Item: padding
// Dependence: legend item text
$legend-item-pad: $legend-item-text;
$legend-item-pad-print: $legend-item-text-print-mm;


// Key: height
// Dependence: legend item text, line-height, margin-top, pad, border-width
$legend-key-height: ($legend-item-text * $legend-item-lineheight)
  + ($legend-item-margin-top) + $legend-item-pad + $legend-item-border-width;

$legend-key-height-print: ($legend-item-text-print-mm * $legend-item-lineheight)
  + ($legend-item-margin-top-print) + $legend-item-pad-print
  + $legend-item-border-width-print;


// Value: height
// Dependence: legend item text and line-height
$legend-value-height: 2 * $legend-item-text * $legend-item-lineheight;
$legend-value-height-print: 2 * $legend-item-text-print-mm
  * $legend-item-lineheight;


// Item: height
// Dependence: legend key and value height
$legend-item-height: $legend-key-height + $legend-value-height;
$legend-item-height-print: $legend-key-height-print + $legend-value-height-print;
