// =============================================================================
// Legend
// =============================================================================

.Legend {
  // Positioning
  position: relative;

  // Box Model
  height: auto;

  // Media Queries
  @include responsive($screen, 'min-sm') { height: $legend-item-height * 2; }


  @media #{$screen} and (min-width: 1240px) { height: $legend-item-height; }


  // Legend: float clearing
  // ---------------------------------------------------------------------------

  @include clear('', block);
}





// -----------------------------------------------------------------------------
// Legend: item
// -----------------------------------------------------------------------------

.Legend-item {
  // Positioning
  position: relative;

  // Box Model
  width: 100%;
  padding: 0 $legend-item-pad;

  // Typography
  font-size: $legend-item-text;
  line-height: $legend-item-lineheight;

  // Media Queries
  @include responsive($screen, 'min-sm') {
    // Positioning
    position: absolute;

    // Box Model
    width: $legend-item-width;
  }


  @media #{$screen} and (min-width: 1240px) { width: $legend-item-width-sm; }
}



// Must keep even and odd selectors above numbered selectors
// due to even and odd having wider domains than numbered selectors
//
// Legend: item - odd numbered item
// -----------------------------------------------------------------------------

.Legend-item--odd { left: 0; }



// Legend: item - even numbered item
// -----------------------------------------------------------------------------

.Legend-item--even {
  @include responsive($screen, 'min-sm') {
    left: calc(#{$legend-item-width} + #{$legend-item-margin});
  }
}



// Must keep numbered selectors below even and odd selectors
// due to numbered selectors having narrower domains than even and odd
//
// Legend: item - first
// -----------------------------------------------------------------------------

.Legend-item--1st { left: 0; }



// Legend: item - second
// -----------------------------------------------------------------------------

.Legend-item--2nd {
  @media #{$screen} and (min-width: 1240px) {
    left: calc(#{$legend-item-width-sm} + #{$legend-item-margin-sm});
  }
}



// Legend: item - third
// -----------------------------------------------------------------------------

.Legend-item--3rd {
  @media #{$screen} and (min-width: 1240px) {
    left: calc((#{$legend-item-width-sm} + #{$legend-item-margin-sm}) * 2);
  }
}



// Legend: item - last
// -----------------------------------------------------------------------------

.Legend-item--last {
  @media #{$screen} and (min-width: 1240px) {
    left: calc((#{$legend-item-width-sm} + #{$legend-item-margin-sm}) * 3);
  }
}





// -----------------------------------------------------------------------------
// Legend: key
// -----------------------------------------------------------------------------

.Legend-key {
  // Positioning
  top: auto;

  // Box Model
  padding-top: $legend-item-pad;
  margin-top: $legend-item-margin-top;

  // Typography
  font-weight: $semibold;

  // Visual
  border-top: $legend-item-border-width solid rgb(153,153,153);

  // Media Queries
  @include responsive($screen, 'min-sm') { top: 0; }
}



// Legend: key - last
// -----------------------------------------------------------------------------

.Legend-key--last {
  // Media Queries
  @include responsive($screen, 'min-sm') { top: $legend-item-height; }


  @media #{$screen} and (min-width: 1240px) { top: 0; }
}





// -----------------------------------------------------------------------------
// Legend: value
// -----------------------------------------------------------------------------

.Legend-value {
  // Positioning
  top: auto;

  // Media Queries
  @include responsive($screen, 'min-sm') { top: $legend-key-height; }
}



// Legend: value - last
// -----------------------------------------------------------------------------

.Legend-value--last {
  // Media Queries
  @include responsive($screen, 'min-sm') {
    top: $legend-item-height + $legend-key-height;
  }


  @media #{$screen} and (min-width: 1240px) { top: $legend-key-height; }
}
