// =============================================================================
// Polaroid Project Variables
// =============================================================================

// Height
$projpolaroid-height-sm: 610px;
$projpolaroid-height: 635px;
$projpolaroid-height-lg: 675px;
$projpolaroid-height-print: 120mm;


// Width
$projpolaroid-width: 42%;
$projpolaroid-width-lg: 48%;
$projpolaroid-width-print: 48%;


// Text
$projpolaroid-text-base: $font-size-base;
$projpolaroid-text-sm: $projpolaroid-text-base * 1.1;
$projpolaroid-text-md: $projpolaroid-text-base * 1.2;
$projpolaroid-text-lg: $projpolaroid-text-base * 1.3;
$projpolaroid-text-xl: $projpolaroid-text-base * 1.4;
$projpolaroid-text-print: $text-print * .95;
