// =============================================================================
// Project Polaroid
// =============================================================================

.ProjPolaroid {
  // Positioning
  position: relative;

  // Box Model
  width: 100%;
  height: auto;

  // Visual
  background-color: $page-color-main;

  // Misc
  box-shadow: 0px 0px 6px 0px $page-boxshadow;

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Box Model
    width: $projpolaroid-width-lg;
    height: $projpolaroid-height;
  }


  @media #{$screen} and (min-width: 1040px) {
    // Box Model
    width: $projpolaroid-width;
    height: $projpolaroid-height-sm;
  }


  @include responsive($screen, 'min-xl') { height: $projpolaroid-height-lg; }
}





// -----------------------------------------------------------------------------
// Project Polaroid: content
// -----------------------------------------------------------------------------

.ProjPolaroid-content { padding: $text-sm * $line-height-base; }





// -----------------------------------------------------------------------------
// ProjPolaroid: description
// -----------------------------------------------------------------------------

.ProjPolaroid-descr {
  // Box Model
  max-height: auto;
  margin-bottom: $text-sm;
  overflow-y: visible;

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Box Model
    max-height: 270px;
    overflow-y: auto;
  }


  @media #{$screen} and (min-width: 860px) { max-height: 250px; }


  @media #{$screen} and (min-width: 915px) { max-height: 220px; }


  @media #{screen} and (min-width: 1070px) { max-height: 200px; }


  @media #{screen} and (min-width: 1160px) { max-height: 190px; }


  @include responsive($screen, 'min-xl') { max-height: 210px; }


  @media #{screen} and (min-width: 1470px) { max-height: 180px; }


  @media #{screen} and (min-width: 1680px) { max-height: 150px; }
}





// -----------------------------------------------------------------------------
// Project Polaroid: images
// -----------------------------------------------------------------------------

.ProjPolaroid-images {
  // Positioning
  position: relative;

  // Visual
  background-color: rgb(0,0,0);
}





// -----------------------------------------------------------------------------
// Project Polaroid: image
// -----------------------------------------------------------------------------

.ProjPolaroid-img {
  // Positioning
  position: relative;

  // Misc
  opacity: .6;


  // Project Polaroid: image - image overlay
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    top: 0;
    left: 0;

    // Box Model
    display: block;
    width: 100%;
    height: 100%;

    // Visual
    background-image: url(../images/pattern.png);

    // Misc
    content: '';
    opacity: .7;
    box-sizing: border-box;
  }
}





// -----------------------------------------------------------------------------
// Project Polaroid: image text
// -----------------------------------------------------------------------------

.ProjPolaroid-imgText {
  // Box Model
  padding: 4px 12px;

  // Typography
  font-family: $sans-serif-alt;
  font-size: $projpolaroid-text-base;
  letter-spacing: .055em;
  word-spacing: .6rem;
  color: rgb(208,208,208);

  // Visual
  background-color: rgb(17,17,17);

  // Media Queries
  @media #{$screen} and (min-width: 370px) { font-size: $projpolaroid-text-sm; }


  @media #{$screen} and (min-width: 400px) { font-size: $projpolaroid-text-md; }


  @media #{$screen} and (min-width: 490px) { font-size: $projpolaroid-text-lg; }


  @include responsive($screen, 'min-md'){ font-size: $projpolaroid-text-base; }


  @media #{$screen} and (min-width: 820px) { font-size: $projpolaroid-text-sm; }


  @media #{$screen} and (min-width: 920px) { font-size: $projpolaroid-text-md; }


  @media #{$screen} and (min-width: 1100px) { font-size: $projpolaroid-text-lg; }


  @include responsive($screen, 'min-xl') { font-size: $projpolaroid-text-xl; }
}





// -----------------------------------------------------------------------------
// Project Polaroid: skills used
// -----------------------------------------------------------------------------

.ProjPolaroid-skillsUsed {
  // Positioning
  position: relative;

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Positioning
    position: absolute;
    bottom: $text-sm * $line-height-base;
  }
}
