// =============================================================================
// Page Color Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Color scheme (initial base rgb(30,195,151))
$page-color-accent: rgb(255,234,167);
$page-color-accent-dark: rgb(20,40,75);
$page-color-base: rgb(255,255,255);
$page-color-main: rgb(27,173,134);
$page-color-secondary: rgb(7,54,42);


// Border
$page-border-color: rgb(191,227,219);
$page-border-color-dark: rgb(37,73,137);
$page-border-color-print: rgb(51,51,51);
$sxn-border-color-dark: rgb(19,135,104);


// Box Shadow
$page-boxshadow-img: rgba(0,0,0,.2);
$page-boxshadow: rgba(0,0,0,.15);
$sxn-boxshadow: rgba(0,0,0,.4);
$navSite-boxshadow-btn: rgba(0,0,0,.1);





// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Text
// Dependence: base and secondary color
$page-headline-color: $page-color-secondary;
$page-text-color: $page-color-base;
$page-text-color-dark: rgb(0,0,0);
$page-text-color-accent: rgb(255,229,147);
$page-text-color-accent-dark: rgb(32,65,121);
$page-title-color-dark: rgb(24,175,134);


// Background
// Dependence: main color
$footerSite-bgcolor: rgb(19,140,108);
$page-bgcolor-light: rgb(232,245,242);
$page-bgcolor-secondary: rgb(28,57,106);
$sxn-bgcolor-dark: $page-color-main;
$sxn-bgcolor-light: rgb(195,246,232);


// Button
// Dependence: accent color and text accent color
$page-btn-bgcolor-hover: $page-color-accent;
$page-btn-border-color: $page-color-accent;
$page-btn-disabled-color: rgba(255,229,147,.45);
$page-btn-text-color: $page-text-color-accent;
$page-btn-text-color-hover: rgb(16,172,132);


// Form
// Dependence: text color and text accent color
$page-form-fail-color: $page-text-color-accent;
$page-form-success-color: $page-text-color;
$page-form-msg-bgcolor: rgb(15,106,81);
$page-forminput-border-color: rgb(191,227,219);
