// =============================================================================
// Typography Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Font families
$sans-serif: 'Fira Sans', Tahoma, Geneva, sans-serif;
$serif: 'Taviraj', Georgia, serif;
$sans-serif-alt: 'Lato', Verdana, Geneva, sans-serif;


// Font size base
$font-size-base: 10px;
$font-size-base-print: 10pt;
$font-size-base-print-mm: 3.18mm;


// Font weights
$light: 300;
$regular: 400;
$semibold: 500;
$bold: 600;


// Line heights
$line-height-base: 1.63;
$line-height-sm: 1.3;
$line-height-print: 1.4;





// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Font size: page headline
// Dependence: font size base
$headline-sm: $font-size-base * 2.0;
$headline-md: $font-size-base * 2.2;
$headline-lg: $font-size-base * 2.4;
$headline-print: $font-size-base-print * 1.5;
$headline-print-mm: $font-size-base-print-mm * 1.5;


// Font size: page text
// Dependence: font size base
$text-sm: $font-size-base * 1.6;
$text-md: $font-size-base * 1.7;
$text-lg: $font-size-base * 1.9;
$text-print: $font-size-base-print * 1.1;
$text-print-mm: $font-size-base-print-mm * 1.1;


// Font size: page title
// Dependence: font size base
$title-sm: $font-size-base * 3.7;
$title-md: $font-size-base * 4.5;
$title-lg: $font-size-base * 5.0;
$title-print: $font-size-base-print * 3.4;
$title-print-mm: $font-size-base-print-mm * 3.4;
