// =============================================================================
// Page Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Border: width
$page-border-width: 2px;
$page-border-width-print: .266mm;


// Border: radius
$page-border-rad: 3px;
$page-border-rad-print: .79mm;


// Padding: horizontal
$page-pad-horz-sm: 6.5%;
$page-pad-horz-md: 7.5%;
$page-pad-horz-lg: 8.5%;
$page-pad-base-print: $font-size-base-print-mm * 1.2;


// Margin: vertical
$page-margin-vert-sm: $text-sm * $line-height-base;
$page-margin-vert-md: $text-md * $line-height-base;
$page-margin-vert-lg: $text-lg * $line-height-base;
$page-margin-vert-print: $page-pad-base-print * $line-height-print;


// Z-index
$page-zindex-navitems: 6;
$page-zindex-overlay: $page-zindex-navitems - 2;  // 4
$page-zindex-goTop: $page-zindex-overlay;     // 3


// Arrow: height
$page-arrow-height: 14px;
$page-arrow-height-print: 3.70mm;


// Arrow: left position
$page-arrow-pos-left: $text-sm;
$page-arrow-pos-left-print: $page-pad-base-print;


// Button Border: width
$page-btn-border-width: 2px;
$page-btn-border-width-print: .53mm;


// Nav button: top position
$page-navbtn-top: $text-sm / 2;


// Nav button: height
$page-navbtn-height-xs: 32px;
$page-navbtn-height-sm: 34px;
$page-navbtn-height-md: 36px;
$page-navbtn-height-lg: 40px;
$page-navbtn-height-xl: 44px;


// Nav button: width
$page-navbtn-width-xs: 56px;
$page-navbtn-width-sm: 60px;
$page-navbtn-width-md: 63px;
$page-navbtn-width-lg: 71px;
$page-navbtn-width-xl: 78px;


// Nav link: text
$page-navlink-text: $text-lg;


// Nav menu arrow: width multiplier
$page-navmenuarrow-mult: .35;


// Nav menu arrow: width multiplier
$page-navmenuarrow-pad-mult: .05;


// Nav sidebar: width
$page-navsidebar-width: 200px;


// Project Polaroid Image text: bottom
$page-projpolaroidimgtext-bot: 10px;
$page-projpolaroidimgtext-bot-print: 2.65mm;


// Site to-top link arrow: width
$page-sitetoparrow-width: 12px;


// Site to-top link arrow: height
$page-sitetoparrow-height: 6px;





// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Nav button: right position
// Dependence: pad-horz-lg, nav btn-width
$page-navbtn-right-xs: '(#{$page-pad-horz-lg}'
  + ' - (#{$page-navbtn-width-xs} * .2)) / 2';

$page-navbtn-right-sm: '(#{$page-pad-horz-lg}'
  + ' - (#{$page-navbtn-width-sm} * .5)) / 2';

$page-navbtn-right-md: '(#{$page-pad-horz-lg}'
  + ' - (#{$page-navbtn-width-md} * .8)) / 2';

$page-navbtn-right-lg: '(#{$page-pad-horz-lg}'
  + ' - #{$page-navbtn-width-lg}) / 2';

$page-navbtn-right-xl: '(#{$page-pad-horz-lg}'
  + ' - #{$page-navbtn-width-xl}) / 2';


// Nav menu arrow: top position
// Dependence: nav button top
$page-navmenuarrow-top: $page-navbtn-top * 1.25;


// Nav menu arrow: width
// Dependence: nav btn-width and nav menu-arrow mult
$page-navmenuarrow-width-xs: $page-navbtn-width-xs * $page-navmenuarrow-mult;
$page-navmenuarrow-width-sm: $page-navbtn-width-sm * $page-navmenuarrow-mult;
$page-navmenuarrow-width-md: $page-navbtn-width-md * $page-navmenuarrow-mult;
$page-navmenuarrow-width-lg: $page-navbtn-width-lg * $page-navmenuarrow-mult;
$page-navmenuarrow-width-xl: $page-navbtn-width-xl * $page-navmenuarrow-mult;


// Nav menu arrow: height
// Dependence: nav menu arrow width
$page-navmenuarrow-height-xs: $page-navmenuarrow-width-xs;
$page-navmenuarrow-height-sm: $page-navmenuarrow-width-sm;
$page-navmenuarrow-height-md: $page-navmenuarrow-width-md;
$page-navmenuarrow-height-lg: $page-navmenuarrow-width-lg;
$page-navmenuarrow-height-xl: $page-navmenuarrow-width-xl;


// Nav menu arrow: padding
// Dependence: nav btn-width and nav menu-arrow-pad mult
$page-navmenuarrow-pad-xs: $page-navbtn-width-xs * $page-navmenuarrow-pad-mult;
$page-navmenuarrow-pad-sm: $page-navbtn-width-sm * $page-navmenuarrow-pad-mult;
$page-navmenuarrow-pad-md: $page-navbtn-width-md * $page-navmenuarrow-pad-mult;
$page-navmenuarrow-pad-lg: $page-navbtn-width-lg * $page-navmenuarrow-pad-mult;
$page-navmenuarrow-pad-xl: $page-navbtn-width-xl * $page-navmenuarrow-pad-mult;
