// =============================================================================
// Page
// =============================================================================

.Page {
  // Box Model
  height: 100%;

  // Typography
  font: $light #{$font-size-base}/#{$line-height-base} $serif;
  color: $page-text-color;
  letter-spacing: .05em
}





// -----------------------------------------------------------------------------
// Page: adblock
// -----------------------------------------------------------------------------

.Page-adblock { background-size: cover; }



// Page: adblock - dark colored linkedin background img
// -----------------------------------------------------------------------------

.Page-adblock--linkedinDark { background-image: url('../images/icons/li.svg'); }



// Page: adblock - dark colored message background img
// -----------------------------------------------------------------------------

.Page-adblock--msgDark {
  // Visual
  background-image: url('../images/icons/message.svg');
  background-size: 102% 100%;
}



// Page: adblock - dark colored pdf background img
// ----------------------------------------------------------------------------

.Page-adblock--pdfDark {
  // Visual
  background-image: url('../images/icons/pdf.svg');
  background-size: 100% 101%;
}





// -----------------------------------------------------------------------------
// Page: go back to main site
// -----------------------------------------------------------------------------

.Page-backToSite {
  // Positioning
  z-index: $page-zindex-goTop;

  // Typography
  font-family: $sans-serif;
  font-size: 1.1rem;
  color: $page-text-color-accent-dark;
  letter-spacing: .09em;
  text-decoration: none;
  text-transform: uppercase;


  // Page: go to top of page/site - arrow
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    top: 0;
    left: -$page-sitetoparrow-width;

    // Box Model
    width: 0;
    height: 0;

    // Visual
    border-color: transparent $page-border-color-dark transparent transparent;
    border-style: solid;
    border-width: $page-sitetoparrow-height $page-sitetoparrow-width
      $page-sitetoparrow-height 0;

    // Misc
    content: '';
    @include vendorize(transform, translateX(-50%));
  }


  // Page: go to top of page/site :: hover
  // ---------------------------------------------------------------------------

  &:hover { color: $page-text-color; }
}





// -----------------------------------------------------------------------------
// Page: content
// -----------------------------------------------------------------------------

.Page-content {
  // Box Model
  width: 100%;


  // Page: content :: overlay
  // ---------------------------------------------------------------------------

  &[data-overlay]::before {
    // Position
    position: absolute;
    top: 0;
    right: 0;

    // Box Model
    display: block;
    height: 100%;
    width: 100%;

    // Visual
    content: '';

    // Misc
    box-sizing: border-box;
    @include vendorize(transition, 500ms);
  }


  // Page: content :: overlay
  // ---------------------------------------------------------------------------

  &[data-overlay="true"] { position: relative; }


  // Page: content :: overlay active
  // ---------------------------------------------------------------------------

  &[data-overlay="true"]::before {
    // Positioning
    z-index: $page-zindex-overlay;

    // Visual
    background-color: rgba(224,224,224, .5);
  }



  // Page: content :: overlay not active
  // ---------------------------------------------------------------------------

  &[data-overlay="false"]::before { background-color: transparent; }
}





// -----------------------------------------------------------------------------
// Page: maincontent
// -----------------------------------------------------------------------------

.Page-contentMain { position: relative; }





// -----------------------------------------------------------------------------
// Page: content body
// -----------------------------------------------------------------------------

.Page-contentBody {
  // Position
  position: relative;

  // Box Model
  height: 100%;

  // Typography
  font-size: $text-sm;
  line-height: $line-height-base;

  // Media Queries
  @include responsive($screen, 'min-md') { font-size: $text-md; }


  @include responsive($screen, 'min-xl') { font-size: $text-lg; }
}





// -----------------------------------------------------------------------------
// Page: site footer
// -----------------------------------------------------------------------------

.Page-footerSite {
  // Position
  position: relative;
  @include sxn-pad();
  padding-top: $text-lg * $line-height-base;  // overrides sxn-pad()
  padding-bottom: $text-lg * $line-height-base;  // overrides sxn-pad()

  // Typography
  text-align: center;

  // Visual
  background-color: $footerSite-bgcolor;
  border-top: $sxn-border-width solid $footerSite-bgcolor;


  // Page: site footer - section overlay
  // ---------------------------------------------------------------------------

  &::before {
    @include sxn-bgoverlay();
  }
}





// -----------------------------------------------------------------------------
// Page: footer adblock
// -----------------------------------------------------------------------------

.Page-footerAdblock {
  // Box Model
  display: inline-block;
  margin-right: $text-sm / 2;
  margin-left: $text-sm / 2;
}





// -----------------------------------------------------------------------------
// Page: site footer text
// -----------------------------------------------------------------------------

.Page-footerSiteText {
  // Box Model
  display: block;
  padding-top: $text-sm / 2;

  // Typography
  font-size: $text-sm;
  line-height: $line-height-base;
}





// -----------------------------------------------------------------------------
// Page: go to top of page/site
// -----------------------------------------------------------------------------

.Page-goTop {
  // Positioning
  position: fixed;
  bottom: $text-lg;
  right: calc(#{$page-navbtn-right-xs});
  z-index: $page-zindex-goTop;

  // Typography
  font-family: $sans-serif;
  font-size: 1.1rem;
  color: $page-text-color-accent-dark;
  letter-spacing: .09em;
  text-decoration: none;
  text-transform: uppercase;

  // Media Queries
  @include responsive($screen, 'min-sm') {
    right: calc(#{$page-navbtn-right-sm});
  }


  @include responsive($screen, 'min-md') {
    right: calc((#{$page-pad-horz-lg} / 2) - 27px);
  }


  // Page: go to top of page/site - arrow
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    top: -($page-sitetoparrow-height);
    left: calc(50% - 1px);

    // Box Model
    width: 0;
    height: 0;

    // Visual
    border-color: transparent transparent $page-border-color-dark;
    border-style: solid;
    border-width: 0 ($page-sitetoparrow-width / 2) $page-sitetoparrow-height;

    // Misc
    content: '';
    @include vendorize(transform, translateX(-50%));
  }


  // Page: go to top of page/site :: hover
  // ---------------------------------------------------------------------------

  &:hover { color: $page-text-color; }
}





// -----------------------------------------------------------------------------
// Page: headline
// -----------------------------------------------------------------------------

.Page-headline {
  // Box Model
  margin-bottom: $text-sm;

  // Typography
  font-family: $sans-serif;
  font-size: $headline-sm;
  font-weight: $semibold;
  line-height: $line-height-sm;
  color: $page-headline-color;
  text-transform: uppercase;

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Box Model
    margin-bottom: $text-md;

    // Typography
    font-size: $headline-md;
  }


  @include responsive($screen, 'min-xl') {
    // Box Model
    margin-bottom: $text-lg;

    // Typography
    font-size: $headline-lg;
  }
}



// Page: headline - center text
// -----------------------------------------------------------------------------

.Page-headline--center { text-align: center; }



// Page: headline - no bottom margin
// -----------------------------------------------------------------------------

.Page-headline--marginBotNone { margin-bottom: 0; }





// -----------------------------------------------------------------------------
// Page: sub-headline
// -----------------------------------------------------------------------------

.Page-headlineSub {
  // Box Model
  margin-bottom: $text-sm;

  // Typography
  font-family: $sans-serif;
  font-size: $text-sm;
  font-weight: $light;
  line-height: $line-height-base;
  text-transform: uppercase;

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Box Model
    margin-bottom: $text-md;

    // Typography
    font-size: $text-md;
  }


  @include responsive($screen, 'min-xl') {
    // Box Model
    margin-bottom: $text-lg;

    // Typography
    font-size: $text-lg;
  }
}



// Page: Sub-headline - center text
// -----------------------------------------------------------------------------

.Page-headlineSub--center { text-align: center; }



// Page: Sub-headline - highlight color
// -----------------------------------------------------------------------------

.Page-headlineSub--colorHighlight { color: $page-title-color-dark; }



// Page: Sub-headline - no bottom margin
// -----------------------------------------------------------------------------

.Page-headlineSub--marginBotNone { margin-bottom: 0; }





// -----------------------------------------------------------------------------
// Page: site nav
// -----------------------------------------------------------------------------

.Page-navSite { overflow: hidden; }



// Page: site nav - no js
// -----------------------------------------------------------------------------

.Page-navSite--noJs {
  // Positioning
  position: fixed;
  top: 0;
  left: 0;
  z-index: $page-zindex-navitems;

  // Box Model
  width: 100%;
}





// -----------------------------------------------------------------------------
// Page: site nav button
// -----------------------------------------------------------------------------

// Page: site nav button - js
// -----------------------------------------------------------------------------

.Page-navSiteBtn--js {
  // Positioning
  position: fixed;
  top: $page-navbtn-top;
  right: calc(#{$page-navbtn-right-xs});

  // Box Model
  display: block;

  // Misc
  @include vendorize(transition, color 280ms ease);

  // Media Queries
  @include responsive($screen, 'min-sm') {
    right: calc(#{$page-navbtn-right-sm});
  }


  @include responsive($screen, 'min-md') {
    right: calc(#{$page-navbtn-right-md});
  }


  @include responsive($screen, 'min-lg') {
    right: calc(#{$page-navbtn-right-lg});
  }


  @include responsive($screen, 'min-xl') {
    right: calc(#{$page-navbtn-right-xl});
  }


  // Page: site nav button - js :: not pressed
  // ---------------------------------------------------------------------------

  &[aria-pressed="false"] {
    // Positioning
    z-index: ($page-zindex-navitems - 1);

    // Typography
    color: $page-text-color-accent-dark;

    // Visual
    border-color: $page-border-color-dark;

    // Misc
    opacity: .8;
    box-shadow: 0px 0px 6px 0px $navSite-boxshadow-btn;


    // Page: site nav button - js :: not pressed :: hover
    // -------------------------------------------------------------------------

    &:hover {
      // Typography
      color: $page-text-color-accent-dark;

      // Misc
      opacity: 1;
    }
  }


  // Page: site nav button - js :: pressed
  // ---------------------------------------------------------------------------

  &[aria-pressed="true"] {
    // Positioning
    z-index: ($page-zindex-navitems + 1);

    // Box Model
    top: 0;
    padding-top: 0;
    padding-bottom: 0;

    // Typography
    font-size: 44px;
    line-height: 1.1;
    color: $page-color-accent;

    // Visual
    border-color: transparent;  // removes btn default


    // Page: site nav button - js :: pressed :: hover
    // -------------------------------------------------------------------------
    &:hover {
      // Visual
      background-color: transparent;  // removes btn default
      border-color: transparent;  // removes btn default
    }
  }
}



// Page: site nav button - no js
// -----------------------------------------------------------------------------

.Page-navSiteBtn--noJs { display: none; }





// -----------------------------------------------------------------------------
// Page: nav site icons
// -----------------------------------------------------------------------------

.Page-navSiteIcons {
  // Positioning
  position: fixed;
  right: calc(#{$page-navbtn-right-xs});
  z-index: ($page-zindex-navitems - 1);

  // Box Model
  width: $page-navbtn-width-lg;
  overflow: hidden;

  // Media Queries
  @include responsive($screen, 'min-sm') {
    right: calc(#{$page-navbtn-right-sm});
  }


  @include responsive($screen, 'min-md') {
    right: calc(#{$page-navbtn-right-md});
  }


  @include responsive($screen, 'min-lg') {
    right: calc(#{$page-navbtn-right-lg});
  }


  @include responsive($screen, 'min-xl') {
    right: calc(#{$page-navbtn-right-xl});
  }
}



// Page: nav site icons - js
// -----------------------------------------------------------------------------

.Page-navSiteIcons--js {
  // Positioning
  top: (1.8 * $page-navbtn-top) + $page-navbtn-height-xs;

  // Media Queries
  @include responsive($screen, 'min-sm') {
    top: (1.8 * $page-navbtn-top) + $page-navbtn-height-sm;
  }


  @include responsive($screen, 'min-md') {
    top: (1.6 * $page-navbtn-top) + $page-navbtn-height-md;
  }


  @include responsive($screen, 'min-lg') {
    top: (1.6 * $page-navbtn-top) + $page-navbtn-height-lg;
  }


  @include responsive($screen, 'min-xl') {
    top: (1.6 * $page-navbtn-top) + $page-navbtn-height-xl;
  }
}



// Page: nav site icons - no js
// -----------------------------------------------------------------------------

.Page-navSiteIcons--noJs {
  // Positioning
  top: ($text-lg * $line-height-base * 7);

  // Media Queries
  @media #{$screen} and (min-width: 336px) {
    top: ($text-lg * $line-height-base * 5.5);
  }


  @media #{$screen} and (min-width: 408px) {
    top: ($text-lg * $line-height-base * 4);
  }


  @media #{$screen} and (min-width: 752px) {
    top: ($text-lg * $line-height-base * 2.2);
  }
}





// -----------------------------------------------------------------------------
// Page: nav site (individual) icon
// -----------------------------------------------------------------------------

.Page-navSiteIcon {
  // Box Model
  float: right;
  margin-right: $text-sm * .2;
  margin-left: $text-sm * .7;

  // Media Queries
  @include responsive($screen, 'min-md') { margin-left: $text-sm * .4; }
}





// -----------------------------------------------------------------------------
// Page: site nav items
// -----------------------------------------------------------------------------

// Page: site nav items - js
// -----------------------------------------------------------------------------

.Page-navSiteItems--js {
  // Position
  position: fixed;
  top: 0;
  right: 0;
  z-index: $page-zindex-navitems;

  // Box Model
  width: $page-navsidebar-width;
  height: 101vh;
  padding-top: $btn-height-lg + $page-navbtn-top;

  // Visual
  background-color: $page-color-accent-dark;
  @include vendorize(transition, 0.5s);


  // Page: site nav items - js :: shown
  // ---------------------------------------------------------------------------

  &[aria-hidden="false"] {
    @include vendorize(transition, 'opacity 1.5s, height 630ms');
  }


  // Page: site nav items - js :: hidden
  // ---------------------------------------------------------------------------

  &[aria-hidden="true"] {
    // Box Model
    width: 0;
    overflow: hidden;

    // Misc
    @include vendorize(transition, '0.5s');
  }
}



// Page: site nav items - no js
// -----------------------------------------------------------------------------

.Page-navSiteItems--noJs {
  // Position
  position: relative;

  // Box Model
  float: right;

  // Visual
  background-color: rgba(204,204,204,.30);
}





// -----------------------------------------------------------------------------
// Page: site nav (individual) item
// -----------------------------------------------------------------------------

.Page-navSiteItem { @include vendorize(transition, all 260ms ease); }



// Page: site nav item - no js
// -----------------------------------------------------------------------------

.Page-navSiteItem--noJs { float: left; }





// -----------------------------------------------------------------------------
// Page: site nav link
// -----------------------------------------------------------------------------

.Page-navSiteLink {
  // Typography
  font-family: $sans-serif;
  font-size: $page-navlink-text;
  font-weight: $light;
  line-height: $line-height-base;
  text-decoration: none;
  text-transform: uppercase;
}



// Page: site nav link hover
// -----------------------------------------------------------------------------

.Page-navSiteLinkHover--js {
  // Box Model
  padding-left: 4px;

  // Typography
  font-size: $page-navlink-text * .92;
  color: $page-color-accent-dark;
}



// Page: site nav link - js
// -----------------------------------------------------------------------------

.Page-navSiteLink--js {
  // Box Model
  display: block;

  // Box Model
  padding-top: $text-md / 2;
  padding-bottom: $text-md / 2;
  padding-left: $text-lg * 1.5;


  // Page: site nav link :: hover - js
  // ---------------------------------------------------------------------------

  &:hover { background-color: rgba(255,255,255,.25); }


  // Page: site nav link :: active - js
  // ---------------------------------------------------------------------------

  &:active { background-color: rgba(255,255,255,.5); }


  // Page: site nav link :: selected - js
  // ---------------------------------------------------------------------------

  &[data-selected="true"] {
    // Typography
    color: $page-color-accent-dark;

    // Visual
    background-color: $page-color-accent;
    cursor: default;
  }


  // Page: site nav link :: not selected - js
  // ---------------------------------------------------------------------------

  &[data-selected="false"] {
    // Typography
    color: $page-color-accent;

    // Visual
    cursor: pointer;


    // Page: site nav link :: active - js
    // ---------------------------------------------------------------------------

    &:active { color: $page-color-accent-dark; }
  }
}



// Page: site nav link - no js
// -----------------------------------------------------------------------------

.Page-navSiteLink--noJs {
  // Box Model
  display: inline-block;
  height: 100%;
  padding: ($text-lg / 2) $text-lg;

  // Typography
  color: rgba(255,255,255,.7);
  text-align: center;

  // Visual
  border-radius: 0;  // removing menu styling


  // Page: site nav link :: hover - no js
  // ---------------------------------------------------------------------------

  &:hover {
    // Typography
    color: $page-text-color;

    // Visual
    background-color: $page-color-accent-dark;
  }


  // Page: site nav link :: active - no js
  // ---------------------------------------------------------------------------

  &:active { opacity: .6; }
}





// -----------------------------------------------------------------------------
// Page: site nav link hover
// -----------------------------------------------------------------------------

.Page-navSiteLinkHover {
  // Box Model
  padding-left: 4px;

  // Typography
  font-size: $page-navlink-text * .92;
}



// Page: site nav link hover - JS
// -----------------------------------------------------------------------------

.Page-navSiteLinkHover--js { color: $page-color-accent-dark; }






// -----------------------------------------------------------------------------
// Page: project polaroid image
// -----------------------------------------------------------------------------

.Page-projPolaroidImg {
  // Positioning
  position: absolute;

  // Misc
  opacity: .9;
}



// Page: project polaroid image - hangman project list
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--hangmanlist {
  // Positioning
  top: 50%;
  left: 7%;

  // Box Model
  width: 50%;
}



// Page: project polaroid image - hangman project set
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--hangmanset {
  // Positioning
  top: 27%;
  right: 8%;

  // Box Model
  width: 29%;
}



// Page: project polaroid image - huffman project queue
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--huffmanqueue {
  // Positioning
  top: 10%;
  left: 20px;

  // Box Model
  width: 50%;
}



// Page: project polaroid image - huffman project tree
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--huffmantree {
  // Positioning
  bottom: 10%;
  right: 25px;

  // Box Model
  width: 40%;
}



// Page: project polaroid image - memory mgmt project list
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--memorylist {
  // Positioning
  top: 40%;
  left: 5%;

  // Box Model
  width: 65%;
}



// Page: project polaroid image - memory mgmt project memory structure
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--memorystruct {
  // Positioning
  top: 19%;
  right: 7%;

  // Box Model
  height: 60%;
}



// Page: project polaroid image - reverb project block diagram
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--reverb {
  // Positioning
  bottom: 20%;
  right: 0;

  // Box Model
  width: 100%;
}



// Page: project polaroid image - T9 project numeric pad
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--T9pad {
  // Positioning
  bottom: 8%;
  left: 7%;

  // Box Model
  height: 35%;
}



// Page: project polaroid image - T9 project trie
// -----------------------------------------------------------------------------

.Page-projPolaroidImg--T9trie {
  // Positioning
  top: 8%;
  right: 7%;

  // Box Model
  height: 75%;
}





// -----------------------------------------------------------------------------
// Page: project polaroid image text
// -----------------------------------------------------------------------------

.Page-projPolaroidImgText { position: absolute; }



// Page: project polaroid image text - 1st text of unix utility project
// -----------------------------------------------------------------------------

.Page-projPolaroidImgText--unixUtility1st {
  // Positioning
  bottom: calc(#{$page-projpolaroidimgtext-bot} + (4 * #{$text-sm}));
  right: 5px;

  // Media Queries
  @media #{$screen} and (min-width: 400px) {
    bottom: calc(#{$page-projpolaroidimgtext-bot} + (4 * #{$text-md}));
  }


  @media #{$screen} and (min-width: 490px) {
    // Positioning
    bottom: calc(#{$page-projpolaroidimgtext-bot} + (4 * #{$text-lg}));
    right: 6%;
  }


  @include responsive($screen, 'min-md') {
    // Positioning
    bottom: calc(#{$page-projpolaroidimgtext-bot} + (4 * #{$text-sm}));
    right: 6px;
  }


  @media #{$screen} and (min-width: 920px) {
    bottom: calc(#{$page-projpolaroidimgtext-bot} + (4 * #{$text-md}));
  }


  @media #{$screen} and (min-width: 1200px) {
    // Positioning
    bottom: calc(#{$page-projpolaroidimgtext-bot} + (4 * #{$text-lg}));
    right: 6%;
  }
}



// Page: project polaroid image text - 2nd text of unix utility project
// -----------------------------------------------------------------------------

.Page-projPolaroidImgText--unixUtility2nd {
  // Positioning
  bottom: calc(#{$page-projpolaroidimgtext-bot} + (2 * #{$text-sm}));
  left: 9px;

  // Media Queries
  @media #{$screen} and (min-width: 400px) {
    bottom: calc(#{$page-projpolaroidimgtext-bot} + (2 * #{$text-md}));
  }


  @media #{$screen} and (min-width: 490px) {
    // Positioning
    bottom: calc(#{$page-projpolaroidimgtext-bot} + (2 * #{$text-lg}));
    left: 6%;
  }


  @include responsive($screen, 'min-sm') { left: 22%; }


  @include responsive($screen, 'min-md') {
    // Positioning
    bottom: calc(#{$page-projpolaroidimgtext-bot} + (2 * #{$text-sm}));
    left: 9px;
  }


  @media #{$screen} and (min-width: 920px) {
    bottom: calc(#{$page-projpolaroidimgtext-bot} + (2 * #{$text-md}));
  }


  @media #{$screen} and (min-width: 1200px) {
    // Positioning
    bottom: calc(#{$page-projpolaroidimgtext-bot} + (2 * #{$text-lg}));
    left: 6%;
  }


  @media #{$screen} and (min-width: 1400px) { left: 15%; }
}



// Page: project polaroid image text - 3rd text of unix utility project
// -----------------------------------------------------------------------------

.Page-projPolaroidImgText--unixUtility3rd {
  // Positioning
  bottom: $page-projpolaroidimgtext-bot;
  right: 16px;
}





// -----------------------------------------------------------------------------
// Page: title
// -----------------------------------------------------------------------------

.Page-title {
  // Box Model
  margin-bottom: $text-sm * $line-height-base;

  // Typography
  font-family: $sans-serif;
  font-size: $title-sm;
  font-weight: $bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Box Model
    margin-bottom: $text-md * $line-height-base;

    // Typography
    font-size: $title-md;
  }


  @include responsive($screen, 'min-xl') {
    // Box Model
    margin-bottom: $text-lg * $line-height-base;

    // Typography
    font-size: $title-lg;
  }
}



// Page: title - no bottom margin
// -----------------------------------------------------------------------------

.Page-title--marginBotNone { margin-bottom: 0; }



// Page: title - Dark colored
// -----------------------------------------------------------------------------

.Page-title--colorDark { color: $page-title-color-dark; }





// -----------------------------------------------------------------------------
// Page: img
// -----------------------------------------------------------------------------

.Page-img {
  // Box Model
  display: block;
  max-width: 100%;
}
